{% extends 'form_div_layout.html.twig' %}

{% block form_label %}
    {% if required %}
        <span class="required" title="该项为必填项">*</span>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block choice_widget_expanded %}
    {% spaceless %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-group')|trim}) %}
        <div {{ block('widget_container_attributes') }} data-toggle="buttons">
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block radio_widget %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' btn btn-primary')|trim}) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if checked %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' active')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {{ label|trans({}, translation_domain) }}
        </label>
    {% endif %}
    
{% endspaceless %}
{% endblock radio_widget %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group margin-none innerB {% if errors|length > 0 %} has-error{% endif %}">
            <div class="col-sm-2 control-label">
                {{ form_label(form) }}
            </div>
            <div class="col-sm-6">
                {{ form_widget(form) }}
            </div>
            <div class="col-sm-4">
                {{ form_errors(form) }}
            </div>
            
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_start %}
    {% if attr.class is not defined %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-horizontal')|trim}) %}
    {% endif %}
    {{ parent() }}
{% endblock form_start %}

{% block button_attributes %}
    {% set attr = attr|default({'class': 'btn btn-primary'}) %}
    {{ parent() }}
{% endblock button_attributes %}

{% block button_widget %}
    {% spaceless %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ parent() }}
            </div>
        </div>
    {% endspaceless %}
{% endblock button_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="help-block">
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block widget_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ full_name }}"
    {% if attr.class is not defined %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {% endif %}
    {%- if read_only %} readonly="readonly"{% endif -%}
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- if max_length %} maxlength="{{ max_length }}"{% endif -%}
    {%- if pattern %} pattern="{{ pattern }}"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{% endspaceless %}
{% endblock widget_attributes %}

{% block widget_container_attributes %}
{% spaceless %}
    {%- if id is not empty %}id="{{ id }}"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{% endspaceless %}
{% endblock widget_container_attributes %}