{% extends 'AdminBundle::layout.html.twig' %}

{% form_theme form ':Form:fields.html.twig' %}

{% block main %}
<div class="col-md-12 animated fadeInDown">
    <div class="col-separator box col-separator-first col-unscrollable">
        <div class="col-table">
            <h4 class="innerAll border-bottom margin-none">新增品牌</h4>
            <div class="col-table-row">
                <div class="col-app col-unscrollable">
                    <div class="col-app animated fadeInDown">
                        <div class="innerAll">
                            {{ form_start(form, {'action': path('brand_edit', {'id': id}), 'attr': {'class': 'form-horizontal', 'id': 'brand' }}) }}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group margin-none innerB">
                                        <div class="col-sm-2 control-label">
                                            <label for="brand_category">所属商城</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <select id="brand_mall" name="mall" class="form-control" data-id="brand_mallId" data-uri="{{ path('mall_childs') }}" data-pid="1" data-selected="{{ arrParent }}"></select>
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                    {{ form_row(form.title) }}
                                    {{ form_row(form.name) }}
                                    {{ form_row(form.floor) }}
                                    {{ form_row(form.houseNumber) }}
                                    {{ form_row(form.address) }}
                                    {{ form_row(form.phone) }}
                                    {{ form_row(form.status) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.wangwang) }}
                                    {{ form_row(form.qq) }}
                                    {{ form_row(form.homePage) }}
                                    {{ form_row(form.dataPacket) }}
                                    {{ form_row(form.metaTitle) }}
                                    {{ form_row(form.keywords) }}
                                    {{ form_row(form.description) }}
                                </div>
                            </div>
                                {{ form_widget(form) }}
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/components/common/forms/editors/wysihtml5/assets/lib/js/wysihtml5-0.3.0_rc2.min.js') }}"></script>
    <script src="{{ asset('assets/components/common/forms/editors/wysihtml5/assets/lib/js/bootstrap-wysihtml5-0.0.2.js') }}"></script>
    <script src="{{ asset('assets/components/common/forms/editors/wysihtml5/assets/custom/wysihtml5.init.js') }}"></script>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).ready(function() {
    //分类联动
    $('#brand_mall').iSelect();
});
</script>
{% endblock %}