{% extends ':Layout:column2.html.twig' %}

{% block navbar %}{% endblock %}
{% block bottom_ad %}{% endblock %}

{% block content %}
<div class="heading-buttons innerLR border-bottom">
    <h4 class="margin-none pull-left innerTB">{{ name }}</h4>
    <div class="btn-group btn-group-xs pull-right">
        <button class="btn btn-default"><a href="{{ path('brand_add') }}"><i class="fa fa-edit"></i>发布品牌</a></button>
    </div>
    <div class="clearfix"></div>
</div>
<div class="bg-gray border-bottom innerAll">
	<form class="input-group">
	  	<input type="text" name="title" class="form-control" placeholder="输入标题关键字 .. " />
	  	<span class="input-group-btn"><button type="submit" class="btn btn-inverse">搜索</button></span>
	</form>
</div>
<div class="col-table-row">
    <div class="col-app col-unscrollable">
        <div class="col-app animated fadeInDown">
            <div class="innerAll">

                <table class="iTablelist table table-bordered table-primary" data-acturi="{{ path('brand_ajaxedit') }}">
                    <thead>
                        <tr>
                            <th class="center">ID</th>
                            <th class="center">品牌名称</th>
                            <th class="center">品牌代号</th>
                            <th class="center">所属栏目</th>
                            <th class="center">所属区域</th>
                            <th class="center">创建者</th>
                            <th class="center">更新时间</th>
                            <th class="center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for brand in pagination %}
                        <tr>
                            <td class="center">{{ brand.id}}</td>
                            <td class="center"><span class="ajaxedit" data-id="{{ brand.id}}" data-field="title" data-tdtype="edit">{{ brand.title}}</span></td>
                            <td class="center"><span class="ajaxedit" data-id="{{ brand.id}}" data-field="name" data-tdtype="edit">{{ brand.name}}</span></td>
                            <td class="center">{{ brand.mall.title}}</td>
                            <td class="center">{{ brand.houseNumber}}</td>
                            <td class="center">{{ brand.user.username }}</td>
                            <td class="center">{{ brand.modified|date('Y-m-d H:i:s') }}</td>
                            <td class="center">
                                <div class="btn-group btn-group-xs">
                                    {% if status != 'publish' %}
                                    <button class="btn btn-default btn-stroke iConfirm" data-uri="{{ path('brand_publish', {'id': brand.id}) }}" data-acttype="ajax" data-title="发布 {{ brand.title}}" data-id="mall" data-msg="确认将发布 {{ brand.title }} 吗？" title="发布信息">
                                        <i class="fa fa-reply text-primary"></i>
                                    </button>
                                    {% else %}
                                    <a href="{{ path('product_add', {'brandId': brand.id}) }}" class="btn btn-default btn-stroke" title="发布商品" target="_blank">
                                        <i class="fa fa-plus text-primary"></i>
                                    </a>
                                    {% endif %}
                                    <a href="{{ path('brand_edit', {'id': brand.id}) }}" class="btn btn-default btn-stroke" title="编辑信息">
                                        <i class="fa fa-pencil text-primary"></i>
                                    </a>
                                    <button class="btn btn-default btn-stroke iConfirm" data-uri="{{ path('brand_delete', {'id': brand.id}) }}" data-acttype="ajax" data-title="删除 {{ brand.title}}" data-id="mall" data-msg="确认将记录 {{ brand.title }} 删除吗？" title="删除信息">
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block sidebar %}
<h4 class="innerAll margin-none border-bottom">品牌管理</h4>
<!-- col-table-row -->
<div class="col-table-row">
    <!-- col-app -->
    <div class="col-app col-unscrollable">
        <!-- col-app -->
        <div class="col-app">
            <ul class="list-group list-group-1 margin-none borders-none">
                <li class="list-group-item {% if status == 'publish' %}active{% endif %}"><a href="{{ path('brand_admin') }}">已发布</a></li>
                <li class="list-group-item {% if status == 'draft' %}active{% endif %}"><a href="{{ path('brand_admin', {'status': 'draft'}) }}">草稿箱</a></li>
                <li class="list-group-item {% if status == 'trash' %}active{% endif %}"><a href="{{ path('brand_admin', {'status': 'trash'}) }}">回收站</a></li>
            </ul>
        </div>
        <div class="col-separator-h"></div>
        <a href="{{ path('brand_add') }}"><h4 class="innerAll margin-none border-bottom"><i class="fa fa-edit"></i> 发布品牌</h4></a>
        <!-- // END col-app -->
    </div>
    <!-- // END col-app -->
</div>
<!-- // END col-table-row -->
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/components/plugins/artDialog/skins/default.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/components/modules/admin/notifications/gritter/assets/lib/css/jquery.gritter.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/components/plugins/form/jquery.form.js') }}"></script>
    <script src="{{ asset('assets/components/plugins/artDialog/jquery.artDialog.min.js') }}"></script>
    <script src="{{ asset('assets/components/modules/admin/notifications/gritter/assets/lib/js/jquery.gritter.min.js') }}"></script>
    <script src="{{ asset('assets/components/modules/admin/notifications/gritter/assets/custom/js/gritter.init.js') }}"></script> 
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).ready(function() {
    $('.iTablelist').listTable();
});
</script>
{% endblock %}