{% extends ':Layout:layout.html.twig' %}

{% block main %}
    
    
                        <div class="col-md-7 col-lg-6">
                            <div class="col-separator col-separator-first box col-unscrollable">
                                <div class="col-table">

                                    <div class="col-table-row">
                                        <div class="col-app col-unscrollable">
                                            <div class="col-app">

                                                <div class="col-table">
                                                    <h4 class="innerAll margin-none border-bottom">Cognitive Science and Design</h4>
                                                    <div class="col-table-row">

                                                        <div class="col-app col-unscrollable">
                                                            <div class="col-app">

                                                                <div id="events-carousel" class="owl-carousel owl-theme">

                                                                    <div class="item">
                                                                        <div class="widget widget-pinterest">
                                                                            <div class="mark text-center">
                                                                                <span class="caret caret-primary"></span>
                                                                                <span class="text">Free</span>
                                                                            </div>
                                                                            <div class="widget-body padding-none">
                                                                                <a href="product.html?lang=en" class="thumb">
                                                                                    <img src="../assets/images/photodune-5765965-idea-concept-xs.jpg" alt="photo" class="img-responsive" />
                                                                                </a>
                                                                                <div class="description">

                                                                                    <h5 class="text-uppercase">Beatae, pariatur, deleniti dolores nobis sint voluptatibus</h5>
                                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aliquid, facere provident neque maiores modi quos suscipit maxime quod asperiores porro a iusto laboriosam
                                                                                        consectetur perspiciatis corporis recusandae dicta alias.</p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="widget widget-pinterest">
                                                                            <div class="mark text-center">
                                                                                <span class="caret caret-default"></span>
                                                                                <span class="text">Free</span>
                                                                            </div>
                                                                            <div class="widget-body padding-none">
                                                                                <a href="product.html?lang=en" class="thumb">
                                                                                    <img src="../assets/images/photodune-5557150-creative-head-xs.jpg" alt="photo" class="img-responsive" />
                                                                                </a>
                                                                                <div class="description">

                                                                                    <h5 class="text-uppercase">Beatae, pariatur, deleniti dolores nobis sint voluptatibus</h5>
                                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aliquid, facere provident neque maiores modi quos suscipit maxime quod asperiores porro a iusto laboriosam
                                                                                        consectetur perspiciatis corporis recusandae dicta alias.</p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>








                                                                <div class="col-separator-h"></div>

                                                                <div class="border-bottom innerAll">
                                                                    <div class="media margin-none innerAll">
                                                                        <div class="pull-left">
                                                                            <img data-src="holder.js/50x50/dark" alt="" class="img-responsive img-circle" />
                                                                        </div>
                                                                        <div class="media-body">
                                                                            <div class="pull-right innerAll half">
                                                                                <div class="btn-group-vertical btn-group-sm">
                                                                                    <button class="btn btn-inverse">Follow</button>
                                                                                    <button class="btn btn-default">Contact</button>
                                                                                </div>
                                                                            </div>
                                                                            <div class="innerAll half media margin-none">
                                                                                <div class="pull-left innerLR half">
                                                                                    <p class="strong margin-none">Company, Inc</p>
                                                                                    <p>Official Organizer</p>
                                                                                </div>
                                                                                <div class="media-body border-left innerLR">
                                                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dicta, odio id cumque voluptates debitis asperiores. Dolorum, quod, cupiditate.
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-5">
                            <div class="col-separator box">

                                <h4 class="bg-primary innerAll border-bottom margin-none">Event</h4>
                                <div class="innerAll bg-primary border-bottom">
                                    <div class="media innerAll margin-none">
                                        <div class="pull-left">
                                            <i class="fa fa-fw fa-calendar fa-3x"></i>
                                        </div>
                                        <div class="media-body">
                                            <p class="strong lead margin-none">22 DEC 2013</p>
                                            <p class="strong margin-none">1:00 - 5:00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="innerAll bg-gray border-bottom">
                                    <div class="media innerAll margin-none">
                                        <div class="pull-left">
                                            <i class="fa fa-fw fa-map-marker fa-3x"></i>
                                        </div>
                                        <div class="media-body">
                                            <p class="strong lead margin-none">San Francisco</p>
                                            <p class="strong margin-none">California, USA</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="innerAll text-center border-bottom">
                                    <div class="innerAll">
                                        <div class="btn-group">
                                            <button class="btn btn-success">
                                                <i class="fa fa-fw fa-check"></i>Attend</button>
                                            <button class="btn btn-default">I might go</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-separator-h"></div>

                                <h4 class="border-bottom margin-none innerAll">Friends</h4>
                                <div class="border-bottom">
                                    <div class="innerAll">
                                        <span class="badge badge-primary pull-right">215</span>Attending
                                    </div>
                                </div>
                                <div class="border-bottom">
                                    <div class="innerAll">
                                        <span class="badge badge-primary badge-stroke pull-right">585</span>Might Go
                                    </div>
                                </div>
                                <div class="innerAll text-center">
                                    <a href="#" class="border-none">
                                        <img src="../assets/images/people/80/1.jpg" alt="photo" width="35">
                                    </a>
                                    <a href="#" class="border-none">
                                        <img src="../assets/images/people/80/2.jpg" alt="photo" width="35">
                                    </a>
                                    <a href="#" class="border-none">
                                        <img src="../assets/images/people/80/3.jpg" alt="photo" width="35">
                                    </a>
                                    <a href="#" class="border-none">
                                        <img src="../assets/images/people/80/4.jpg" alt="photo" width="35">
                                    </a>
                                    <a href="#" class="border-none">
                                        <img src="../assets/images/people/80/5.jpg" alt="photo" width="35">
                                    </a>
                                    <a href="#" class="border-none">
                                        <img src="../assets/images/people/80/6.jpg" alt="photo" width="35">
                                    </a>
                                    <a href="#" class="border-none">
                                        <img src="../assets/images/people/80/7.jpg" alt="photo" width="35">
                                    </a>
                                    <a href="#" class="border-none">
                                        <img src="../assets/images/people/80/8.jpg" alt="photo" width="35">
                                    </a>
                                    <a href="#" class="border-none">
                                        <img src="../assets/images/people/80/9.jpg" alt="photo" width="35">
                                    </a>
                                    <a href="#" class="border-none">
                                        <img src="../assets/images/people/80/10.jpg" alt="photo" width="35">
                                    </a>
                                    <a href="#" class="border-none">
                                        <img src="../assets/images/people/80/11.jpg" alt="photo" width="35">
                                    </a>
                                    <a href="#" class="border-none">
                                        <img src="../assets/images/people/80/12.jpg" alt="photo" width="35">
                                    </a>
                                    <a href="#" class="border-none">
                                        <img src="../assets/images/people/80/13.jpg" alt="photo" width="35">
                                    </a>
                                    <a href="#" class="border-none">
                                        <img src="../assets/images/people/80/14.jpg" alt="photo" width="35">
                                    </a>

                                </div>
                                <div class="col-separator-h"></div>

                                <h4 class="bg-inverse margin-none innerAll">Speakers</h4>
                                <div id="events-speakers" class="owl-carousel owl-theme">

                                    <div class="item">
                                        <div class="widget widget-pinterest">
                                            <div class="widget-body padding-none">
                                                <a href="" class="thumb col-md-12">
                                                    <img src="../assets/images/photodune-1949987-male-portrait-s.jpg" alt="photo" class="img-responsive" />
                                                </a>
                                                <div class="description col-md-12">
                                                    <h5 class="text-uppercase">Speaker name</h5>
                                                    <p class="strong">CEO, Company Inc.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="widget widget-pinterest">
                                            <div class="widget-body padding-none">
                                                <a href="" class="thumb col-md-12">
                                                    <img src="../assets/images/photodune-1555340-indian-male-s.jpg" alt="photo" class="img-responsive" />
                                                </a>
                                                <div class="description col-md-12">
                                                    <h5 class="text-uppercase">Speaker name</h5>
                                                    <p class="strong">CEO, Company Inc.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>









                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="col-separator box">

                                <h4 class="innerAll margin-none border-bottom">Schedule</h4>

                                <ul class="list-unstyled timeline-appointments border-bottom bg-gray">
                                    <li>
                                        <div class="time">1:00
                                            <span class="text-primary">pm</span>
                                        </div>
                                        <i class="fa fa-dot-circle-o text-primary dot"></i>
                                        <div class="appointments">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <div class="apt">
                                                        <a href="" class="text-regular strong">Chris Hughes</a>
                                                        <br/>Co-founder of Facebook
                                                    </div>
                                                </li>
                                            </ul>




                                        </div>
                                    </li>
                                    <li>
                                        <div class="time">3:00
                                            <span class="text-primary">pm</span>
                                        </div>
                                        <i class="fa fa-dot-circle-o text-primary dot"></i>
                                        <div class="appointments">

                                            <ul class="list-unstyled">
                                                <li>
                                                    <div class="apt">
                                                        <a href="" class="text-regular strong">Elon Musk</a>
                                                        <br/>CEO &amp; CTO of SpaceX
                                                    </div>
                                                </li>
                                            </ul>



                                        </div>
                                    </li>
                                    <li>
                                        <div class="time">5:00
                                            <span class="text-primary">pm</span>
                                        </div>
                                        <i class="fa fa-dot-circle-o text-primary dot"></i>
                                        <div class="appointments">



                                            <ul class="list-unstyled">
                                                <li class="text">
                                                    <div class="strong text-regular">Just a note</div>
                                                    Lorem ipsum dolor sit amet
                                                    <br/>&nbsp;
                                                </li>
                                            </ul>

                                        </div>
                                    </li>
                                </ul>

                                <div class="col-separator-h"></div>

                                <div class="innerAll border-bottom">
                                    <a href="" class="btn btn-primary btn-xs pull-right">
                                        <i class="fa fa-plus-circle"></i>
                                    </a>
                                    <h4 class="margin-none padding-none">Discussions</h4>
                                </div>

                                <div class="media innerAll border-bottom margin-none">
                                    <a href="" class="pull-left">
                                        <img src="../assets/images/people/35/16.jpg" alt="people" class="img-responsive img-circle" />
                                    </a>
                                    <div class="media-body">
                                        <small class="strong pull-right">3 hours ago</small>
                                        <h5>Reinald Lothair</h5>
                                        <p class="innerB border-bottom">Event Organizer</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, dolorem, ad, aut amet quis sapiente architecto ut corrupti molestiae.</p>
                                    </div>
                                </div>
                                <div class="media innerAll bg-gray border-bottom margin-none">
                                    <a href="" class="pull-left">
                                        <img src="../assets/images/people/35/15.jpg" alt="people" class="img-responsive img-circle" />
                                    </a>
                                    <div class="media-body">
                                        <small class="strong pull-right">5 hours ago</small>
                                        <h5>Janele Sara</h5>
                                        <p class="innerB border-bottom">Speaker</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, dolorem, ad, aut amet quis sapiente architecto ut corrupti molestiae.</p>
                                    </div>
                                </div>
                                <div class="media innerAll border-bottom margin-none">
                                    <a href="" class="pull-left">
                                        <img src="../assets/images/people/35/17.jpg" alt="people" class="img-responsive img-circle" />
                                    </a>
                                    <div class="media-body">
                                        <small class="strong pull-right">8 hours ago</small>
                                        <h5>Tracie Fedelmid</h5>
                                        <p class="innerB border-bottom">Attendee</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, dolorem, ad, aut amet quis sapiente architecto ut corrupti molestiae.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
{% endblock %}