{% extends 'AdminBundle:Layout:Front/base.html.twig' %}

{% block body %}
        <div id="content">
            <div class="page-header">
                <div class="fishes">
                    <div class="container">
                        <h1 class="title">Coral
                            <span>KIT</span>
                            <!-- <span class="version">v 1.0</span> -->
                        </h1>
                        <h2 class="subtitle">Next Generation of Flat Templates</h2>
                        <a class="btn btn-primary btn-lg">Buy CORAL Today
                            <i class="fa fa-chevron-right"></i>
                        </a>
                        <div class="clerfix"></div>
                        <div class="btn-group bottom">
                            <a class="btn ">
                                <i class="fa fa-refresh"></i>Change History</a>
                            <a class="btn ">
                                <i class="fa fa-edit"></i>Question &#38; Answers</a>
                        </div>

                    </div>
                </div>
            </div>


            <div class="container">
                <div class="center innerTB">
                    <h2>Freelance Business Software</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis eius nihil in quisquam voluptate!</p>
                </div>
                <div class="navigation">

                    <!-- Buttons -->
                    <ul class="buttons nav nav-tabs" id="myTab">
                        <li class="active">
                            <a href="#one" data-toggle="tab" class="btn glyphicons tie center">
                                <i></i>
                            </a>
                            <span class="caret"></span>
                        </li>
                        <li>
                            <a href="#two" data-toggle="tab" class="btn glyphicons keys">
                                <i></i>
                            </a>
                            <span class="caret"></span>
                        </li>
                        <li>
                            <a href="#three" data-toggle="tab" class="btn glyphicons group">
                                <i></i>
                            </a>
                            <span class="caret"></span>
                        </li>
                        <li>
                            <a href="#four" data-toggle="tab" class="btn glyphicons list">
                                <i></i>
                            </a>
                            <span class="caret"></span>
                        </li>
                    </ul>
                    <!-- /Buttons -->

                    <div id="myTabContent" class="tab-content innerT">
                        <div class="tab-pane active in" id="one">
                            <div class="innerAll">
                                <div class="progress progress-mini ">
                                    <div class="progress-bar progress-bar-info" style="width: 12.5%;"></div>
                                </div>
                            </div>
                            <div class="tabcontent innerT">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <img src="../assets//images/front/tab1-ties.jpg" style="width:100%" />
                                    </div>
                                    <div class="col-md-8 col-sm-8">
                                        <h3 class="innerT">Ready for your Business!</h3>
                                        <p>There are many variations of passages of Lorem Ipsum available,
                                            <a href="">but the majority</a>have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,</p>
                                        <h4 class="innerTB">
                                            <strong class="text-primary">Key Features:</strong>
                                        </h4>
                                        <div class="clearfix"></div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <ul class="features-list">
                                                    <li>User Management</li>
                                                    <li>Messaging System</li>
                                                    <li>Project Management</li>
                                                    <li>Online Shop Feature</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-8">
                                                <ul class="features-list">
                                                    <li>User Management</li>
                                                    <li>Messaging System</li>
                                                    <li>Project Management</li>
                                                    <li>Online Shop Feature</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="innerT">
                                            <a href="" class="btn btn-primary btn-xs">
                                                <strong>more...</strong>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /tab one content  -->

                        <div class="tab-pane" id="two">
                            <div class="innerAll">
                                <div class="progress progress-mini">
                                    <div class="progress-bar progress-bar-info" style="width: 37.5%;"></div>
                                </div>
                            </div>
                            <div class="tabcontent innerT">
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-1 center">
                                        <div class="innerAll">
                                            <i class="fa fa-sitemap fa-10x faded"></i>
                                        </div>
                                        <h3 class="innerAll">Modular Elements/Pages</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quibusdam asperiores explicabo delectus a maiores accusamus atque ut enim rerum.</p>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default">Left</button>
                                            <button type="button" class="btn btn-primary">Middle</button>
                                            <button type="button" class="btn btn-info">Right</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-md-offset-2 center">
                                        <div class="innerAll ">
                                            <i class="fa fa-dashboard fa-10x faded"></i>
                                        </div>
                                        <h3 class="innerAll">Advanced Management System</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quibusdam asperiores explicabo delectus a maiores accusamus atque ut enim rerum.</p>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary">
                                                <i class="fa fa-info"></i>Left</button>
                                            <button type="button" class="btn btn-info">
                                                <i class="fa fa-download"></i>Right</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="innerT">
                                    <div class="row innerAll">
                                        <h3 class="center innerAll">Coral KIT has a collection of 700+ Font Icons</h3>
                                        <div class="center">
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-briefcase "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-user "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-times "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-clock-o "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-cloud "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-gear "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-laptop "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-phone "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-picture-o "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-shopping-cart "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-spinner "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-thumbs-up "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-ticket "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-check-square-o "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-align-justify "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-file-o "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-unlink "></i>
                                            </a>
                                            <a href="#" class="btn btn-default innerAll">
                                                <i class="fa fa-arrow-right "></i>
                                            </a>
                                            <div class="clearfix"></div>
                                            <div class="innerT">
                                                <a href="#" class="btn btn-primary">View All Icons
                                                    <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="three">
                            <div class="innerAll">
                                <div class="progress progress-mini">
                                    <div class="progress-bar progress-bar-info" style="width: 62.5%;"></div>
                                </div>
                            </div>
                            <div class="tabcontent  innerT center">
                                <h3>Thinking about using CORAL?</h3>
                                <p>Why not start by reading some of our clients feedback:</p>
                                <i class="fa fa-arrow-down faded fa-10x"></i>
                            </div>
                        </div>

                        <div class="tab-pane" id="four">
                            <div class="innerAll">
                                <div class="progress progress-mini">
                                    <div class="progress-bar progress-bar-info" style="width: 100%;"></div>
                                </div>
                            </div>
                            <div class="tabcontent innerT">Content 4</div>
                            <!-- /tab four content -->
                        </div>
                        <!-- /tab-content -->
                    </div>
                </div>



            </div>
            <div class="testimonials">
                <div class="container innerAll">
                    <h2 class="innerAll margin-none">A few words from our clients:</h2>

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="media">
                                            <a class="pull-left image-holder" href="#">
                                                <img class="media-object" src="../assets/images/people/250/16.jpg" width="100" alt="...">
                                            </a>
                                            <div class="caret"></div>
                                            <div class="media-body">

                                                <div class="well">
                                                    <p>This is one of the best Templates ever on TF. Thank you for everything</p>
                                                    <i class="fa fa-user"></i>by
                                                    <a href="">Adrian</a>
                                                    <i class="fa fa-file-text"></i>on
                                                    <a href="">Coral Admin</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="media">
                                            <a class="pull-left image-holder" href="#">
                                                <img class="media-object" src="../assets/images/people/250/11.jpg" width="100" alt="...">
                                            </a>
                                            <div class="caret"></div>
                                            <div class="media-body">

                                                <div class="well">
                                                    <p>This is one of the best Templates ever on TF. Thank you for everything</p>
                                                    <i class="fa fa-user"></i>by
                                                    <a href="">Joanne</a>
                                                    <i class="fa fa-file-text"></i>on
                                                    <a href="">Coral Admin</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="media">
                                            <a class="pull-left image-holder" href="#">
                                                <img class="media-object" src="../assets/images/people/250/5.jpg" width="100" alt="...">
                                            </a>
                                            <div class="caret"></div>
                                            <div class="media-body">

                                                <div class="well">
                                                    <p>This is one of the best Templates ever on TF. Thank you for everything</p>
                                                    <i class="fa fa-user"></i>by
                                                    <a href="">Adrian</a>
                                                    <i class="fa fa-file-text"></i>on
                                                    <a href="">Coral Admin</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="media">
                                            <a class="pull-left image-holder" href="#">
                                                <img class="media-object" src="../assets/images/people/250/18.jpg" width="100" alt="...">
                                            </a>
                                            <div class="caret"></div>
                                            <div class="media-body">

                                                <div class="well">
                                                    <p>This is one of the best Templates ever on TF. Thank you for everything</p>
                                                    <i class="fa fa-user"></i>by
                                                    <a href="">Joanne</a>
                                                    <i class="fa fa-file-text"></i>on
                                                    <a href="">Coral Admin</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="media">
                                            <a class="pull-left image-holder" href="#">
                                                <img class="media-object" src="../assets/images/people/250/4.jpg" width="100" alt="...">
                                            </a>
                                            <div class="caret"></div>
                                            <div class="media-body">

                                                <div class="well">
                                                    <p>This is one of the best Templates ever on TF. Thank you for everything</p>
                                                    <i class="fa fa-user"></i>by
                                                    <a href="">Joanne</a>
                                                    <i class="fa fa-file-text"></i>on
                                                    <a href="">Coral Admin</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="media">
                                            <a class="pull-left image-holder" href="#">
                                                <img class="media-object" src="../assets/images/people/250/17.jpg" width="100" alt="...">
                                            </a>
                                            <div class="caret"></div>
                                            <div class="media-body">

                                                <div class="well">
                                                    <p>This is one of the best Templates ever on TF. Thank you for everything</p>
                                                    <i class="fa fa-user"></i>by
                                                    <a href="">Adrian</a>
                                                    <i class="fa fa-file-text"></i>on
                                                    <a href="">Coral Admin</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">

                <div class="row">
                    <div class="col-md-9 activity-items">

                        <h3>Recent Activities</h3>

                        <!-- List -->
                        <ul class="list-unstyled">

                            <li class="well">
                                <div class="media">
                                    <i class=" pull-left media-object fa fa-user"></i>
                                    <div class="media-body">

                                        <div class="topic">
                                            <h4 class="title">
                                                <a href="">How do I set the Themer settings to be permanent?</a>
                                            </h4>
                                            <div class="clearfix"></div>
                                            <span>
                                                <i class="fa fa-clock-o"></i>2 days ago</span>
                                            <span>
                                                <i class="fa fa-user"></i>by
                                                <a href="">adrian</a>
                                            </span>
                                        </div>

                                        <div class="extra">
                                            <div class="reply">
                                                <span>Last reply
                                                    <a href="">mosaicpro</a>
                                                </span>
                                            </div>
                                            <div class="comments">
                                                <a href="" class="label label-info">
                                                    <i class="fa fa-comments"></i>3</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="well">
                                <div class="media">
                                    <i class=" pull-left media-object fa fa-female"></i>
                                    <div class="media-body">

                                        <div class="topic">
                                            <h4 class="title">
                                                <a href="">How do I set the Themer settings to be permanent?</a>
                                            </h4>
                                            <div class="clearfix"></div>
                                            <span>
                                                <i class="fa fa-clock-o"></i>2 days ago</span>
                                            <span>
                                                <i class="fa fa-user"></i>by
                                                <a href="">adrian</a>
                                            </span>
                                        </div>

                                        <div class="extra">
                                            <div class="reply">
                                                <span>Last reply
                                                    <a href="">mosaicpro</a>
                                                </span>
                                            </div>
                                            <div class="comments">
                                                <a href="" class="label label-info">
                                                    <i class="fa fa-comments"></i>3</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="well">
                                <div class="media">
                                    <i class=" pull-left media-object fa fa-refresh"></i>
                                    <div class="media-body">

                                        <div class="topic">
                                            <h4 class="title">
                                                <a href="">How do I set the Themer settings to be permanent?</a>
                                            </h4>
                                            <div class="clearfix"></div>
                                            <span>
                                                <i class="fa fa-clock-o"></i>2 days ago</span>
                                            <span>
                                                <i class="fa fa-user"></i>by
                                                <a href="">adrian</a>
                                            </span>
                                        </div>

                                        <div class="extra">
                                            <div class="reply">
                                                <span>Last reply
                                                    <a href="">mosaicpro</a>
                                                </span>
                                            </div>
                                            <div class="comments">
                                                <a href="" class="label label-info">
                                                    <i class="fa fa-comments"></i>3</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="well">
                                <div class="media">
                                    <i class=" pull-left media-object fa fa-envelope"></i>
                                    <div class="media-body">

                                        <div class="topic">
                                            <h4 class="title">
                                                <a href="">How do I set the Themer settings to be permanent?</a>
                                            </h4>
                                            <div class="clearfix"></div>
                                            <span>
                                                <i class="fa fa-clock-o"></i>2 days ago</span>
                                            <span>
                                                <i class="fa fa-user"></i>by
                                                <a href="">adrian</a>
                                            </span>
                                        </div>

                                        <div class="extra">
                                            <div class="reply">
                                                <span>Last reply
                                                    <a href="">mosaicpro</a>
                                                </span>
                                            </div>
                                            <div class="comments">
                                                <a href="" class="label label-info">
                                                    <i class="fa fa-comments"></i>3</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <div class="innerT">
                            <a href="" class="btn btn-primary">View All</a>
                        </div>
                    </div>
                    <div class="col-md-3">

                        <h3>Categories</h3>
                        <ul class="list-group list-group-front margin-none">
                            <li class="list-group-item active">
                                <a href="#">
                                    <i class="fa fa-user"></i>Discussion Board</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">
                                    <span class="badge pull-right badge-primary hidden-md">13</span>
                                    <i class="fa fa-book"></i>Questions &amp; Answers</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">
                                    <span class="badge pull-right badge-primary hidden-md">2</span>
                                    <i class="fa fa-envelope"></i>Support</a>
                            </li>
                        </ul>



                    </div>
                </div>
            </div>


        </div>
{% endblock %}