{% extends '::left.html.twig' %}

{% block content %}
<h1>{{ article.title }}</h1>
<div class="category-info clearfix">
   <div class="image">
       <img src="{{ asset('statics/images/demo/img-blog5-900x350w.jpg') }}" alt="Mac" />
   </div>
   <div class="description">
       <p>{{ article.description }}</p>
       <ul class="list-inline">
           <li><span class="fa fa-clock-o">时间:</span> {{ article.modified|date('Y-m-d') }}</li>
           <li><span class="fa fa-pencil">作者:</span> {{ article.user.username }}</li>
           <li><span class="fa fa-eye">查看:</span> {{ article.view }}</li>
           <li><span class="fa fa-comments">评论:</span> {{ article.comment }}</li>
           <li><span class="fa fa-comments">栏目:</span> {{ article.category.title }}</li>
       </ul>
   </div>
</div>
<div class="category-list clearfix">
   {{ article.content }}
</div>
{% endblock %}