{% extends 'AccountBundle::layout.html.twig' %}

{% form_theme form ':Form:fields.html.twig' %}

{% block content %}
{% block profileNav %}
{{ parent() }}
{% endblock %}
<div class="innerAll">
    {{ form_start(form, {'action': path('profile_edit', {'from': app.request.get('from') }), 'attr': {'class': 'form-horizontal' }}) }}

    <div class="form-group margin-none innerB">
        <div class="col-sm-2 control-label">
            <label>用户名</label>
        </div>
        <div class="col-sm-10 form-control-static">
            <strong class="text-muted">{{ app.user.username }}</strong>
        </div>
    </div>
    <div class="form-group margin-none innerB">
        <div class="col-sm-2 control-label">
            <label>登录邮箱</label>
        </div>
        <div class="col-sm-4">
            <input type="text" name="email" class="form-control" value="{{ app.user.email }}" disabled="disabled">
        </div>
        <div class="col-sm-6">
            <div class="help-block">
                <a href="{{ path('account_resend_confirm') }}">验证邮箱</a>，以方便您找回密码
            </div>
            
        </div>
    </div>
    <div class="form-group margin-none innerB">
        <div class="col-sm-2 control-label">
            <label>头像</label>
        </div>
        <div class="col-sm-10">
            <div class="upload-face">
                <img src="{{ asset(app.user.avatarBigUrl) }}" class="avatar"/>
                <a class="upload-action" href="{{ path('upload_face') }}">修改头像</a>
            </div>
        </div>
    </div>
    {{ form_widget(form) }}

    {{ form_end(form) }}
</div>
{% endblock %}