{% extends 'AccountBundle::layout.html.twig' %}

{% block user_content %}
    <div class="profile">

        <div class="card">
            <div class="avatar-wrapper">
                <img src="{{ asset(user.avatarBigUrl) }}" class="avatar"/>
            </div>

            <h1>{{ user.screenName }}</h1>

            {% if user.bio %}
                <p class="metadata">{{ user.bio|substring(100) }}</p>
            {% endif %}
            <p class="metadata">发布 {{ user.numPositions }} 个职位</p>

            <p class="metadata">注册于 {{ user.createdAt|date('Y-m-d') }}</p>
        </div>
    </div>
{% endblock %}

{% block ext_content %}
    <div class="module">
        <div class="flex-module">
            <div class="module-header">
                <h2>{{ user.screenName }}发布的最新职位</h2>
            </div>

            {% if pager|length > 0 %}
                <ul class="item-list">
                    {% for position in pager %}
                        <li class="item hidden-avatar">
                            <div class="item-header">
                                <div class="meta">在 {{ position.createdAt|date('Y-m-d') }} 发布的职位</div>

                                <div class="title">
                                    <a href="{{ path('position_show', {'positionId': position.id}) }}">{{ position.position }}</a>
                                    <span class="divider">•</span>
                                    <span class="company">{{ position.companyName|substring(15) }}</span>
                                    <span class="divider">•</span>
                                    <span class="region">{{ position.location|location|substring(30) }}</span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-muted">没有发布任何职位</p>
            {% endif %}

            <p class="text-right text-muted">
                <a href="{{ path('profile_positions', {'username': user.username}) }}">更多职位 &gt;&gt;</a></p>
        </div>
    </div>
    <!-- /module -->
{% endblock %}