{% extends '::left.html.twig' %}

{% block content %}
                    <div class="category-info clearfix">
                        <div class="image"><img src="{{ asset('statics/images/demo/img-category-873x250.jpg') }}" alt="Mac" /></div>
                        <h2 class="heading_title"><span>{{ category.title }}({{ pagination.getTotalItemCount }})</span></h2>
                    </div>
                    <div class="category-list clearfix">
                        <ul class="col-md-12">
                            {% for mall in pagination %}
                            <li>
                                {% if mall.category.id != category.id %}
                                    <div class="col-lg-1"><a href="{{ path('mall_list', {'cate':mall.category.name}) }}"><span class="label label-primary">{{ mall.category.title }}</span></a></div>
                                {% endif %}
                                <div class="col-lg-10"><a href="{{ path('mall_detail', {'cate':mall.category.name, 'name':mall.name}) }}">{{ mall.title }}</div>
                                <div class="col-lg-1"><span class="badge pull-right">{{ mall.modified|date('Y-m-d') }}</span></div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                        
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
{% endblock %}

{% block sidebar %}

                        <div class="box">
                            {{ render(controller('CommonBundle:Widget:CategoryList', {'route': 'mall_list', 'categoryId': 13, 'categories': categories})) }}
                        </div>


{% endblock %}
