{% extends '::left.html.twig' %}

{% import 'ProductBundle:Product:product.html.twig' as template %}

{% set pageClass = 'page-product' %}

{% block content %}
                            
                            {{ template.detail(product) }}
                            <div class="tabs-group">
                                <div id="tabs" class="htabs clearfix">
                                    <a href="#tab-description">宝贝详情</a>
                                    <a href="#tab-review">评价详情 (1)</a>
                                    <a href="#tab-rate">成交记录 (1)</a>
                                </div>
                                <div id="tab-description" class="tab-content">
                                    {{ product.content|raw }}
                                </div>
                                <div id="tab-review" class="tab-content">
                                    <div id="review"></div>
                                </div>
                                <div id="tab-rate" class="tab-content">
                                    成交记录成交记录成交记录成交记录成交记录成交记录成交记录成交记录成交记录成交记录成交记录成交记录成交记录成交记录成交记录成交记录成交记录
                                </div>

                            </div>

                            <div class="product-related box">
                                <div class="box-heading">
                                    <span>宝贝推荐 (3)</span>
                                </div>
                                <div id="related" class="slide product-grid" data-interval="0">
                                    <div class="carousel-controls">
                                        <a class="carousel-control left fa fa-angle-left" href="#related" data-slide="prev"></a>
                                        <a class="carousel-control right fa fa-angle-right" href="#related" data-slide="next"></a>
                                    </div>
                                    <div class="box-content products-block carousel-inner clearfix ">
                                        <div class="item active">
                                            <div class="row products-item">
                                                {{ render(controller('CommonBundle:Widget:ProductCateogry', {'categoryId': product.category.id, 'limit': 5})) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{ template.js(product) }}

{% endblock %}

{% block sidebar %}
                            {{ render(controller('CommonBundle:Widget:CategoryList', {'route': 'product_list', 'categoryId': 17, 'categories': categories, 'template': 'product'})) }}
                            <div class="box box-product special">
                                <div class="box-heading">
                                    <span>Specials</span>
                                </div>
                                <div class="box-content">
                                    <div class="box-product">
                                        <div class="row">
                                            {{ render(controller('CommonBundle:Widget:ChosenProduct', {'limit': 5})) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="banner0" class="box banner">
                                <div>
                                    <img src="{{ asset('statics/images/demo/banner-sidebar-279x420.png') }}" />
                                </div>
                            </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('statics/js/jquery/colorbox/colorbox.css') }}" rel="stylesheet" />
{% endblock %}

{% block js %}
{{ parent() }}
    <script type="text/javascript" src="{{ asset('statics/js/tabs.js') }}"></script>
    <script type="text/javascript" src="{{ asset('statics/js/jquery/colorbox/jquery.colorbox-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('statics/js/jquery/jquery.cycle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('statics/js/sidebareffects.js') }}"></script>
{% endblock %}

{% block javascript %}
{% endblock %}