{% extends '::base.html.twig' %}

{% import 'ProductBundle:Product:product.html.twig' as template %}

{% block body %}
<body>
    <section id="page-quickview" role="main">
        <section id="sys-notification">
            <div class="container">
                <div id="notification"></div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $("#notification").delegate("a", "click", function() {
                            window.parent.location = $(this).attr('href');
                            return false;
                        });
                    });
                </script>
            </div>
        </section>
        {{ template.detail(product) }}
        {{ template.js(product) }}
    </section>
</body>
{% endblock %}
