{% macro detail(product) %}  
<div class="product-info">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 image-container">
                    <div class="image">
                        <div class="product-label-special label">热卖</div>
                            <a href="{{ product.icon }}" title="{{ product.title }}" class="colorbox">
                                <img src="{{ product.icon }}" title="{{ product.title }}" alt="{{ product.title }}" id="image" data-zoom-image="{{ product.icon }}"
                                class="product-image-zoom" />
                            </a>
                    </div>
                    <div class="image-additional slide carousel" id="image-additional">
                        <div id="image-additional-carousel" class="carousel-inner">
                            <div class="item">
                                {% for image in product.images %}
                                <a href="{{ image.icon }}" title="{{ product.title }}" class="colorbox" data-zoom-image="{{ image.icon }}" data-image="{{ image.icon }}">
                                    <img src="{{ image.icon }}" style="max-width:60px" title="{{ product.title }}" alt="{{ product.title }}" data-zoom-image="{{ image.icon }}" class="product-image-zoom" />
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <!--<a class="carousel-control left fa fa-angle-left" href="#image-additional" data-slide="prev"></a>
                        <a class="carousel-control right fa fa-angle-right" href="#image-additional" data-slide="next"></a>-->
                    </div>
                    <script type="text/javascript">
                        $('#image-additional .item:first').addClass('active');
                        $('#image-additional').carousel({
                            interval: false
                        })
                    </script>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <h1>{{ product.title }}</h1>

                    <div class="price">
                        <span class="price-old">市场价：<span id="Product_MarketPrice">{{ product.sellingPrice }}</span></span><br />
                        <span class="price-new">批发价：<span id="Product_ShopPrice" class="price1"><label id="productShopPrice">{{ product.currentPrice }}</label></span></span>
                        <br />
                        <span class="price-tax">节省: <span id="Product_SavePrice">{{ product.sellingPrice - product.currentPrice }}</span></span>
                        <br />
                        <span class="reward">
                            <small>赠送积分: 200</small>
                        </span>
                        <br />
                    </div>
                    <div class="share clearfix">
                        <div class="bdsharebuttonbox">
                            <a href="#" class="bds_more" data-cmd="more"></a>
                            <a href="#" class="bds_qzone" data-cmd="qzone"></a>
                            <a href="#" class="bds_tsina" data-cmd="tsina"></a>
                            <a href="#" class="bds_tqq" data-cmd="tqq"></a>
                            <a href="#" class="bds_renren" data-cmd="renren"></a>
                            <a href="#" class="bds_weixin" data-cmd="weixin"></a>
                        </div>

                    </div>
                    <div class="description">
                        <span>品牌:</span>
                        <a href="{{ path('brand_detail', {'cate': product.brand.mall.category.name, 'mall': product.brand.mall.name, 'name': product.brand.name}) }}">{{ product.brand.title }}</a>
                        <br />
                        <span id="Product_No">货号:</span>{{ product.name }}
                        <br />
                        <span>浏览量:</span>400
                        <br />
                        <span>宝贝状态:</span>出售中
                    </div>
<div class="city">
    <input type="hidden" id="SpecifactionCount" value="2">
    <input type="hidden" id="SpecPrice" value="黑色,L;TSZJH0319-1;168.00;1|黑色,M;TSZJH0319-2;168.00;1|黑色,XL;TSZJH0319-3;168.00;1|黑色,XXL;TSZJH0319-4;168.00;1|藏青色,L;TSZJH0319-5;168.00;1|藏青色,M;TSZJH0319-6;168.00;1|藏青色,XL;TSZJH0319-7;168.00;1|藏青色,XXL;TSZJH0319-8;168.00;1">
    <input type="hidden" id="Immediately_ShoppingUrl" value="http://www.hznzcn.com/product/shoppingcart.html?q_productid=34942">
    <div class="s_screeBox" style="padding-left:0px">
        <input type="hidden" id="spec_group0" name="spec_group0" value="">
        <input type="hidden" id="spec_group0_count" name="spec_group0_count" value="2">
        <div class="goods_spec_name fl" style="padding-left:0px;text-align: left">颜色：</div>
        <div style="width:410px" id="em0">
            <span class="goods_spec goods_spec_on" id="spec_value0_0">
                <a class="btn btn-success" unable="false" href="javascript:" onclick="if(jQuery(this).attr('unable') != 'true')selectSpec('0', '0', '黑色', this)">黑色</a>
            </span>
            <span class="goods_spec goods_spec_on" id="spec_value0_1">
                <a class="button" unable="false" href="javascript:" onclick="if(jQuery(this).attr('unable') != 'true')selectSpec('0', '1', '藏青色', this)">藏青色</a>
            </span>
        </div>
    </div>
    <div class="s_screeBox" style="padding-left:0px">
        <input type="hidden" id="spec_group1" name="spec_group1" value="">
        <input type="hidden" id="spec_group1_count" name="spec_group1_count" value="4">
        <div class="goods_spec_name fl" style="padding-left:0px;text-align: left">尺码：</div>
        <div style="width:410px" id="em1">
            <span class="goods_spec goods_spec_on" id="spec_value1_0">
                <a class="button" unable="false" href="javascript:" onclick="if(jQuery(this).attr('unable') != 'true')selectSpec('1', '0', 'L', this)">L</a>
            </span>
            <span class="goods_spec goods_spec_on" id="spec_value1_1">
                <a class="button" unable="false" href="javascript:" onclick="if(jQuery(this).attr('unable') != 'true')selectSpec('1', '1', 'M', this)">M</a>
            </span>
            <span class="goods_spec goods_spec_on" id="spec_value1_2">
                <a class="button" unable="false" href="javascript:" onclick="if(jQuery(this).attr('unable') != 'true')selectSpec('1', '2', 'XL', this)">XL</a>
            </span>
            <span class="goods_spec goods_spec_on" id="spec_value1_3">
                <a class="button" unable="false" href="javascript:" onclick="if(jQuery(this).attr('unable') != 'true')selectSpec('1', '3', 'XXL', this)">XXL</a>
            </span>
        </div>
    </div>
</div>
                    <div class="review">
                        <div>
                            <img src="{{ asset('statics/images/stars-2.png') }}" alt="1 reviews" />&nbsp;&nbsp;
                            <a onclick="$('a[href=\'#tab-review\']').trigger('click');">1 reviews</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                            <a onclick="$('a[href=\'#tab-review\']').trigger('click');">Write a review</a>
                        </div>
                    </div>
                    <div class="product-extra clearfix">
                        <div class="quantity-adder pull-left">
                            数量:
                            <input class="form-control" type="text" name="quantity" size="2" value="1" />
                            <span class="add-up add-action">+</span>
                            <span class="add-down add-action">-</span>
                        </div>
                        <div class="product-action product-block">
                            <input type="hidden" name="product_id" size="2" value="30" />&nbsp;
                            <a id="justBuy" href="" title="请选择规格" style="cursor: not-allowed;"><img src="http://www.hznzcn.com/template/red/images/ljgm.gif"></a>
                            <div class="cart pull-left">
                                <input type="button" value="Add to Cart" id="button-cart" class="button" />
                            </div>
                            <div class="wishlist-compare pull-left">
                                <!-- <span>&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
                                <span class="wishlist">
                                    <a class="fa fa-heart" onclick="addToWishList('30');" data-placement="top" data-toggle="tooltip" data-original-title="加入收藏夹">
                                        <span>收藏</span>
                                    </a>
                                </span>
                                <span class="compare">
                                    <a class="fa fa-retweet" onclick="addToCompare('30');" data-placement="top" data-toggle="tooltip" data-original-title="加入对比">
                                        <span>对比</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="options">
                        <h2>颜色</h2>
                        <div id="option-226" class="option">
                            <span class="required">*</span>
                            <label>Select:</label>
                            <select class="form-control" name="option[226]">
                                <option value="">--- Please Select ---</option>
                                <option value="15">Red</option>
                                <option value="16">Blue</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endmacro %}
{% macro js(product) %}
        <script type="text/javascript">
            window._bd_share_config = {
                "common": {
                    "bdSnsKey": {},
                    "bdText": "",
                    "bdMini": "2",
                    "bdPic": "",
                    "bdStyle": "0",
                    "bdSize": "16"
                },
                "share": {},
                "image": {
                    "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"],
                    "viewText": "分享到：",
                    "viewSize": "16"
                },
                "selectShare": {
                    "bdContainerClass": null,
                    "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]
                }
            };
            with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
        </script>
        <script type="text/javascript" src="{{ asset('statics/js/productcontent.js') }}"></script>
        <script type="text/javascript" src="{{ asset('statics/js/jquery/elevatezoom/elevatezoom-min.js') }}"></script>
        <script type="text/javascript">
            $("#image").elevateZoom({
                gallery: 'image-additional-carousel',
                cursor: 'pointer',
                galleryActiveClass: 'active'
            });
        </script>

        <script type="text/javascript">
            <!--
            $(document).ready(function() {
                $('.colorbox').colorbox({
                    overlayClose: true,
                    opacity: 0.5,
                    rel: "colorbox"
                });
            });
             //-->
        </script>

        <script type="text/javascript">
            <!--
            $('select[name="profile_id"], input[name="quantity"]').change(function() {
                $.ajax({
                    url: 'index.php?route=product/product/getRecurringDescription',
                    type: 'post',
                    data: $('input[name="product_id"], input[name="quantity"], select[name="profile_id"]'),
                    dataType: 'json',
                    beforeSend: function() {
                        $('#profile-description').html('');
                    },
                    success: function(json) {
                        $('.success, .warning, .attention, information, .error').remove();
                        if (json['success']) {
                            $('#profile-description').html(json['success']);
                        }
                    }
                });
            });
            $('#button-cart').bind('click', function() {
                $.ajax({
                    url: 'index.php?route=checkout/cart/add',
                    type: 'post',
                    data: $('.product-info input[type=\'text\'], .product-info input[type=\'hidden\'], .product-info input[type=\'radio\']:checked, .product-info input[type=\'checkbox\']:checked, .product-info select, .product-info textarea'),
                    dataType: 'json',
                    success: function(json) {
                        $('.success, .warning, .attention, information, .error').remove();
                        if (json['error']) {
                            if (json['error']['option']) {
                                for (i in json['error']['option']) {
                                    $('#option-' + i).after('<span class="error">' + json['error']['option'][i] + '</span>');
                                }
                            }

                            if (json['error']['profile']) {
                                $('select[name="profile_id"]').after('<span class="error">' + json['error']['profile'] + '</span>');
                            }
                        }

                        if (json['success']) {
                            $('#notification').html('<div class="success" style="display: none;">' + json['success'] + '<img src="{{ asset('statics/images/close.png') }}" alt="" class="close" /></div>');

                            $('.success').fadeIn('slow');

                            $('#cart-total').html(json['total']);

                            $('html, body').animate({
                                scrollTop: 0
                            }, 'slow');
                        }
                    }
                });
            });
             //-->
        </script>

        <script type="text/javascript" src="{{ asset('statics/js/jquery/ajaxupload.js') }}"></script>

        <script type="text/javascript">
            <!--
            $('#review .pagination a').live('click', function() {
                $('#review').fadeOut('slow');

                $('#review').load(this.href);

                $('#review').fadeIn('slow');

                return false;
            });

            $('#review').load('{{ path('product_rate', {'name': product.name}) }}');

            $('#button-review').bind('click', function() {
                $.ajax({
                    url: 'index.php?route=product/product/write&product_id=30',
                    type: 'post',
                    dataType: 'json',
                    data: 'name=' + encodeURIComponent($('input[name=\'name\']').val()) + '&text=' + encodeURIComponent($('textarea[name=\'text\']').val()) + '&rating=' + encodeURIComponent($('input[name=\'rating\']:checked').val() ? $('input[name=\'rating\']:checked').val() : '') + '&captcha=' + encodeURIComponent($('input[name=\'captcha\']').val()),
                    beforeSend: function() {
                        $('.success, .warning').remove();
                        $('#button-review').attr('disabled', true);
                        $('#review-title').after('<div class="attention"><img src="{{ asset('statics/images/loading.gif') }}" alt="" /> Please Wait!</div>');
                    },
                    complete: function() {
                        $('#button-review').attr('disabled', false);
                        $('.attention').remove();
                    },
                    success: function(data) {
                        if (data['error']) {
                            $('#review-title').after('<div class="warning">' + data['error'] + '</div>');
                        }

                        if (data['success']) {
                            $('#review-title').after('<div class="success">' + data['success'] + '</div>');

                            $('input[name=\'name\']').val('');
                            $('textarea[name=\'text\']').val('');
                            $('input[name=\'rating\']:checked').attr('checked', '');
                            $('input[name=\'captcha\']').val('');
                        }
                    }
                });
            });
             //-->
        </script>

        <script type="text/javascript">
            <!--
            $('#tabs a').tabs();
             //-->
        </script>

        <script type="text/javascript" src="{{ asset('statics/js/jquery/ui/jquery-ui-timepicker-addon.js') }}"></script>
        <script type="text/javascript">
            <!--
            $(document).ready(function() {
                if ($.browser.msie && $.browser.version == 6) {
                    $('.date, .datetime, .time').bgIframe();
                }

                $('.date').datepicker({
                    dateFormat: 'yy-mm-dd'
                });
                $('.datetime').datetimepicker({
                    dateFormat: 'yy-mm-dd',
                    timeFormat: 'h:m'
                });
                $('.time').timepicker({
                    timeFormat: 'h:m'
                });
            });
             //-->
        </script>
{% endmacro %}