{% extends ':Layout:layout.html.twig' %}
{% block main %}
<!-- col -->
<div class="col-md-12">
    <!-- col-separator -->
    <div class="col-separator col-separator-first border-none">
        <!-- col-table -->
        <div class="col-table">
            <!-- col-table-row -->
            <div class="col-table-row">
                <!-- col-app -->
                <div class="col-app">
                    <!-- row-app -->
                    <div class="row row-app margin-none">
                        <!-- col -->
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <!-- col-separator -->
                            <div class="col-separator bg-none">
                                <div class="box-generic overflow-hidden padding-none margin-none animated fadeInUp">
                                    <div class="innerAll inner-2x bg-gray border-bottom">
                                         <h4 class="margin-none"><i class="fa fa-fw icon-button-up-shirt"></i>女装</h4>
                                    </div>

                                    <div class="innerAll border-bottom bg-white category-list">
                                        <dl>
                                            <dt><a href="/web/app_dev.php/product/t-shirts"><i class="fa fa-fw icon-button-up-shirt"></i>上装</a></dt>
                                            <dd>
                                                <a href='http://www.hznzcn.com/gallery-2-grid.html'>T恤</a>
                                                <a href='http://www.hznzcn.com/gallery-1-grid.html'>衬衫</a>
                                                <a href='http://www.hznzcn.com/gallery-13-grid.html'>蕾丝衫/雪纺衫</a>
                                                <a href='http://www.hznzcn.com/gallery-144-grid.html'>西装</a>
                                                <a href='http://www.hznzcn.com/gallery-127-grid.html'>风衣</a>
                                                <a href='http://www.hznzcn.com/gallery-130-grid.html'>针织衫/毛衣</a>
                                                <a href='http://www.hznzcn.com/gallery-132-grid.html'>卫衣/绒衫</a>
                                                <a href='http://www.hznzcn.com/gallery-141-grid.html'>短外套</a>
                                                <a href='http://www.hznzcn.com/gallery-142-grid.html'>皮衣/皮草</a>
                                                <a href='http://www.hznzcn.com/gallery-129-grid.html'>棉衣/棉服</a>
                                                <a href='http://www.hznzcn.com/gallery-133-grid.html'>羽绒服</a>
                                                <a href='http://www.hznzcn.com/gallery-143-grid.html'>毛呢外套</a>
                                                <a href='http://www.hznzcn.com/gallery-117-grid.html'>马甲</a>
                                                <a href='http://www.hznzcn.com/gallery-145-grid.html'>休闲套装/休闲套裙</a>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-separator-h"></div>
                                <div class="box-generic overflow-hidden padding-none margin-none animated fadeInUp">
                                    <h5 class="innerAll margin-bottom-none bg-gray border-bottom"><i class="fa fa-refresh fa-fw"></i> Latest Questions</h5>
                                    <div class="innerAll border-bottom bg-white category-list">
                                        <div class="widget widget-pinterest fixed-height border-none" data-animate="bounceIn" data-delay="0">
                                            <div class="mark">
                                                <span class="caret caret-default"></span>
                                                <span class="text">Sale</span>
                                            </div>
                                            <div class="widget-body padding-none">
                                                <a href="realestate_property.html?lang=en" class="thumb" data-height="150px">
                                                    <img src="{{ asset('assets/images/realestate/photodune-378874-real-estate-xs.jpg') }}" alt="" class="img-responsive">
                                                </a>
                                                <div class="description border-bottom">
                                                    <a href="realestate_property.html?lang=en" class="btn btn-primary btn-circle pull-right"><i class="fa fa-shopping-cart"></i></a>
                                                    <h5 class="text-uppercase">Property for sale</h5>
                                                    <span class="text-primary">€292,428.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // END col-separator -->
                        </div>
                        <!-- // END col -->
                        <!-- col -->
                        <div class="col-lg-9 col-md-9 col-sm-12">
                            <!-- col-separator -->
                            <div class="col-separator col-unscrollable col-separator-last bg-none">
                                <!-- col-table -->
                                <div class="col-table">
                                    <div class="col-table-row">
                                        <div class="col-app col-unscrollable">
                                            <div class="col-app">
                                                <div class="row row-app bg-white box-generic">
                                                    <div class="col-separator col-separator-last">


                                                        <div class="col-md-6">
                                                            <div class="image">
                                                                <a href="{{ product.icon }}" title="{{ product.title }}" class="colorbox" data-zoom-image="{{ product.icon }}" data-image="{{ product.icon }}">
                                                                    <img src="{{ product.icon }}_460x460.jpg" id="image" style="max-width:100%;border: none;" alt="{{ product.title }}" data-zoom-image="{{ product.icon }}" class="img-responsive" />
                                                                </a>
                                                            </div>
                                                            <div class="image-additional slide carousel" id="image-additional">
                                                                <div id="image-additional-carousel" class="carousel-innerx">
                                                                    <div class="item active">
                                                                        {% for image in product.images %}
                                                                        <a href="{{ image.icon }}" title="{{ product.title }}" data-zoom-image="{{ image.icon }}" data-image="{{ image.icon }}">
                                                                            <img src="{{ image.icon }}" style="max-width:60px" title="{{ product.title }}" alt="{{ product.title }}" data-zoom-image="{{ image.icon }}" />
                                                                        </a>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                                <h4>{{ product.title }}</h4>
                                                                <table id="product-info" class="table margin-none">
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="20%" class="text-muted">价格</td>
                                                                        <td><strong>¥<em>{{ product.sellingPrice }}</em></strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-muted border-top-none">促销价</td>
                                                                        <td class="border-top-none">{{ product.currentPrice }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-muted border-top-none">节省</td>
                                                                        <td class="border-top-none">{{ product.sellingPrice - product.currentPrice }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-muted border-top-none">赠送积分</td>
                                                                        <td class="border-top-none">200</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-muted border-top-none">品牌</td>
                                                                        <td class="border-top-none">
                                                                            <a href="{{ path('brand_detail', {'cate': brand.mall.category.name, 'mall': brand.mall.name, 'name': brand.name}) }}">
                                                                                {{ brand.title }}
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-muted border-top-none">货号</td>
                                                                        <td class="border-top-none">{{ product.name }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="border-top-none">分享</td>
                                                                        <td class="border-top-none">
                                                                            <div class="bdsharebuttonbox">
                                                                                <a href="#" class="bds_more" data-cmd="more"></a>
                                                                                <a href="#" class="bds_qzone" data-cmd="qzone"></a>
                                                                                <a href="#" class="bds_tsina" data-cmd="tsina"></a>
                                                                                <a href="#" class="bds_tqq" data-cmd="tqq"></a>
                                                                                <a href="#" class="bds_renren" data-cmd="renren"></a>
                                                                                <a href="#" class="bds_weixin" data-cmd="weixin"></a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="border-top-none">{{ product.sku1 }}</td>
                                                                        <td class="border-top-none">
                                                                            <div id="product_sku1" class="btn-group" data-toggle="buttons">
                                                                            {% for sku, key in skus.sku1 %}                                                                                                
                                                                                <label class="btn btn-primary required" for="{{ key }}">
                                                                                    <input type="radio" id="{{ key }}" name="sku_1" required="required" class="form-control" value="{{ sku }}">{{ sku }}
                                                                                </label>
                                                                            {% endfor %}
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    {% if product.sku2 %}
                                                                    <tr>
                                                                        <td class="border-top-none">{{ product.sku2 }}</td>
                                                                        <td class="border-top-none">
                                                                            <div id="product_sku1" class="btn-group" data-toggle="buttons">
                                                                            {% for sku, key in skus.sku2 %}                                                                                                
                                                                                <label class="btn btn-primary required" for="{{ key }}">
                                                                                    <input type="radio" id="{{ key }}" name="sku_2" required="required" class="form-control" value="{{ sku }}">{{ sku }}
                                                                                </label>
                                                                            {% endfor %}
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    {% endif %}
                                                                    <tr>
                                                                        <td class="text-muted border-top-none">购买数量</td>
                                                                        <td class="border-top-none">
                                                                            <div class="product-quantity input-group col-md-5">
                                                                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                                                                <input type="hidden" name="current_price" value="{{ product.currentPrice }}">
                                                                                <a href="javascript:void(0)" class="input-group-addon add-down add-action"><i class="fa fa-minus"></i></a>
                                                                                <input type="text" class="form-control" id="quantity" name="quantity" placeholder="购买数量" value="1">
                                                                                <a href="javascript:void(0)" class="input-group-addon add-up add-action"><i class="fa fa-plus"></i></a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <button id="button-buy" class="btn btn-primary strong"><i class="fa fa-plus"></i>立即购买</button>
                                                            <button id="button-cart" class="btn btn-primary strong"><i class="fa fa-fw fa-shopping-cart"></i>加入购物车</button>
                                                            <div id="error"></div>

                                                            
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-separator-h"></div>
                                                <div class="row row-app" >
                                                    <div class="box-generic widget widget-tabs widget-tabs-double widget-tabs-responsive">
                                                        <!-- Tabs Heading -->
                                                        <div class="widget-head">
                                                            <ul>
                                                                <li class="active"><a class="glyphicons coffe_cup" href="#tab-product" data-toggle="tab"><i></i><strong>宝贝详情</strong></a></li>
                                                                <li><a class="glyphicons share_alt" href="#tab-rate" data-toggle="tab"><i></i><strong>评价详情</strong></a></li>
                                                                <li><a class="glyphicons cart_in" href="#tab-trade" data-toggle="tab"><i></i><strong>成交记录</strong></a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- // Tabs Heading END -->
                                                        <div class="widget-body">
                                                            <div class="tab-content">
                                                                <!-- Tab content -->
                                                                <div class="tab-pane" id="tab-product">
                                                                    {{ product.content|raw }}
                                                                </div>
                                                                <div class="tab-pane active" id="tab-rate">
                                                                    <p>评价详情</p>
                                                                </div>
                                                                <div class="tab-pane" id="tab-trade">
                                                                    <p>评价详情</p>
                                                                </div>
                                                                <!-- // Tab content END -->
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // END col-table -->
                            </div>
                            <!-- // END col-separator -->
                        </div>
                        <!-- // END col -->
                    </div>
                    <!-- // END row -->
                </div>
                <!-- // END col-app -->
            </div>
            <!-- // END col-table-row -->
        </div>
        <!-- // END col-table -->
    </div>
    <!-- // END col-separator -->
</div>
{% endblock %}
{% block stylesheets %}
<style type="text/css">
.category-list dl dt {
    padding: 0;
    margin: 0;
    position: relative;
    line-height: 39px;
    text-align: left;
    text-shadow: 0 1px 0 #ffffff;
    font-weight: bold;
}
.category-list dl dd {
    padding: 0;
    margin-left: 12px;
    position: relative;
    line-height: 39px;
    text-align: left;
    text-shadow: 0 1px 0 #ffffff;
}
.category-list dl dt a {
    color: #525252;
}
.category-list dl dd a {
    color: #525252;
    width: 120px;
}
</style>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('assets/components/common/gallery/elevateZoom/jquery.elevateZoom-3.0.8.min.js') }}"></script>
<script src="{{ asset('assets/components/modules/admin/widgets/widget-collapsible/assets/widget-collapsible.init.js') }}"></script>
{% endblock %}
{% block footer %}
<script type="text/javascript">
$(document).ready(function() {
//分类联动
$('#brand_mall').iSelect();
    /* Ajax Cart */
    $('#cart > [data-toggle="dropdown"]').live('click', function() {
        $('#cart > .dropdown-menu').load('{{ path('cart_view')}}');
    });
    $("#image").elevateZoom({
        gallery: 'image-additional-carousel',
        cursor: 'pointer',
        galleryActiveClass: 'active'
    });
    $(".product-quantity .add-action").click( function(){
        if( $(this).hasClass('add-up') ) {
            $("[name=quantity]",'.product-quantity').val( parseInt($("[name=quantity]",'.product-quantity').val()) + 1 );
        }else {
            if( parseInt($("[name=quantity]",'.product-quantity').val())  > 1 ) {
                $("input",'.product-quantity').val( parseInt($("[name=quantity]",'.product-quantity').val()) - 1 );
            }
        }
    });
});
$('#button-buy').bind('click', function() {
    addToCart(1);
});
$('#button-cart').bind('click', function() {
    addToCart(0);
});
function addToCart(isBuy) {
    $.ajax({
        url: '{{ path('cart_add') }}',
        type: 'post',
        data: $('#product-info input[type=\'text\'], #product-info input[type=\'hidden\'], #product-info input[type=\'radio\']:checked'),
        dataType: 'json',
        success: function(json) {
            $('.success, .warning, .attention, information, .error').remove();
            
            if (json['success'] == 0) {
                for (i in json['message']) {
                    $('#' + i).after('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">×</button>' + json['message'][i] + '</div>');
                }
            } else {
                $('#notification').html('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">×</button>' + json['message']['info'] + '</div>');
                    
                $('.alert').fadeIn('slow');
                    
                $('#cart-total').html(json['message']['total']);
                
                $('html, body').animate({ scrollTop: 0 }, 'slow');

                if (isBuy) {
                    window.location.href = '{{ path('cart_view') }}';
                }
            }
        }
    });
};
function addToWishList(product_id) {
    $.ajax({
        url: 'index.php?route=account/wishlist/add',
        type: 'post',
        data: 'product_id=' + product_id,
        dataType: 'json',
        success: function(json) {
            $('.success, .warning, .attention, .information').remove();
                        
            if (json['success']) {
                $('#notification').html('<div class="success" style="display: none;">' + json['success'] + '<img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>');
                
                $('.success').fadeIn('slow');
                
                $('#wishlist-total').html(json['total']);
                
                $('html, body').animate({ scrollTop: 0 }, 'slow');
                }
        }
    });
}
window._bd_share_config = {
    "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "2",
        "bdPic": "",
        "bdStyle": "0",
        "bdSize": "16"
    },
    "share": {},
    "image": {
        "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"],
        "viewText": "分享到：",
        "viewSize": "16"
    },
    "selectShare": {
        "bdContainerClass": null,
        "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]
    }
};
with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>
{% endblock %}