{% form_theme form ':Form:fields.html.twig' %}

<div class="col-md-12 animated fadeInDown">
    <div class="col-separator box col-separator-first col-unscrollable">
        <div class="col-table">
            <div class=" innerTB">
                <!-- Widget -->
                <div class="widget widget-tabs border-bottom-none">
                    <!-- Widget heading -->
                    <div class="widget-head">
                        <ul>
                            <li class="active"><a class="glyphicons edit" href="#category-details" data-toggle="tab"><i></i>栏目设置</a></li>
                            <li><a class="glyphicons settings" href="#category-settings" data-toggle="tab"><i></i>扩展设置</a></li>
                        </ul>
                    </div>
                    <!-- // Widget heading END -->
                    <div class="widget-body">
                        {{ form_start(form, {'action': path('category_edit', {'module': 'mall', 'id': id}), 'attr': {'class': 'form-horizontal', 'id': 'category' }}) }}
                            <div class="tab-content">
                                <!-- Tab content -->
                                <div class="tab-pane active" id="category-details">
                                    <div class="row">
                                        <div class="form-group margin-none innerB">
                                            <div class="col-sm-2 control-label">
                                                <label for="edit_category">所属栏目</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <select id="edit_category" name="category" class="form-control" data-id="category_parentId" data-uri="{{ path('category_childs', {'module': module}) }}" data-pid="0" data-selected="{{ arrParent }}"></select>
                                            </div>
                                            <div class="col-sm-4"></div>
                                        </div>
                                        {{ form_row(form.title) }}
                                        {{ form_row(form.name) }}
                                        {{ form_row(form.pageSize) }}
                                        {{ form_row(form.enabled) }}
                                        {{ form_row(form.display) }}
                                        {{ form_row(form.description) }}
                                    </div>
                                </div>
                                <div class="tab-pane" id="category-settings">
                                    <div class="row">
                                        {{ form_widget(form) }}
                                    </div>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#edit_category').iSelect();
});
</script>