{% extends 'AdminBundle::layout.html.twig' %}

{% block main %}
<div class="col-md-12 animated fadeInDown">
    <div class="col-separator box col-separator-first col-unscrollable">
        <div class="col-table">
            {% block tabs %}
                {{ parent() }}
            {% endblock %}
            <div class="heading-buttons innerLR border-bottom">
                <h4 class="margin-none pull-left innerTB">{{ moduleName }}栏目</h4>
                <div class="btn-group btn-group-xs pull-right">
                    <button class="btn btn-default">
                        <a href="javascript:;" class="iDialog" data-uri="{{ path('category_add', {'module': module, 'parentId': 0}) }}" data-title="添加栏目" data-id="category"><i class="fa fa-edit"></i>添加栏目</a>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-table-row">
                <div class="col-app col-unscrollable">
                    <div class="col-app animated fadeInDown">
                        <div class="innerAll">

                            <table class="iTablelist table table-bordered table-primary" data-acturi="{{ path('category_ajaxedit') }}">
                                <thead>
                                    <tr>
                                        <th class="center">ID</th>
                                        <th class="center">栏目名称</th>
                                        <th class="center">栏目代号</th>
                                        <th class="center">状态</th>
                                        <th class="center">前台显示</th>
<!--                                        <th class="center">栏目图标</th>-->
                                        <th class="center">页码</th>
                                        <th class="center">排序</th>
                                        <th class="center">栏目介绍</th>
                                        <th class="center">修改日期</th>
                                        <th class="center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in categories %}
                                    <tr>
                                        <td class="center">{{ category.id}}</td>
                                        <td style="text-indent:{{ category.count *20}}px;">
                                            <span class="ajaxedit" data-id="{{ category.id}}" data-field="title" data-tdtype="edit">
                                                {% if category.count == 1 %}| -- {% endif %}{{ category.title}}
                                            </span>
                                        </td>
                                        <td class="center"><span class="ajaxedit" data-id="{{ category.id}}" data-field="name" data-tdtype="edit">{{ category.name}}</span></td>
                                        <td class="center">
                                            <span data-id="{{ category.id}}" data-field="enabled" data-value="{{ category.enabled}}" data-tdtype="toggle">
                                                <i class="fa {% if category.enabled %}fa-eye{%else%}fa-eye-slash{%endif%}"></i>
                                            </span>
                                        </td>
                                        <td class="center">
                                            <span data-id="{{ category.id}}" data-field="display" data-value="{{ category.display}}" data-tdtype="toggle">
                                                <i class="fa {% if category.display %}fa-eye{%else%}fa-eye-slash{%endif%}"></i>
                                            </span>
                                        </td>
<!--                                        <td class="center"><span class="ajaxedit" data-id="{{ category.id}}" data-field="insure" data-tdtype="edit">{{ category.icon}}</span></td>-->
                                        <td class="center"><span class="ajaxedit" data-id="{{ category.id}}" data-field="pageSize" data-tdtype="edit">{{ category.pageSize}}</span></td>
                                        <td class="center"><span class="ajaxedit" data-id="{{ category.id}}" data-field="sortOrder" data-tdtype="edit">{{ category.sortOrder}}</span></td>
                                        <td>
                                            <a href="javascript:;" data-toggle="tooltip" title="" data-original-title="{{ category.description}}">{{ category.description|substring(30)}}</a>
                                        </td>
                                        <td class="center">{{ category.modified|date('Y-m-d H:i:s') }}</td>
                                        <td class="center">
                                            <div class="btn-group btn-group-xs">
                                                <button class="btn btn-default iDialog" data-uri="{{ path('category_add', {'module': module, 'parentId': category.id}) }}" data-title="添加子栏目" data-id="category" title="添加子栏目">
                                                    <i class="fa fa-plus text-primary"></i>
                                                </button>
                                                <button class="btn btn-default btn-stroke iDialog" data-uri="{{ path('category_edit', {'module': module, 'id': category.id}) }}" data-title="编辑 {{ category.title}}" data-id="category" title="编辑栏目">
                                                    <i class="fa fa-pencil text-primary"></i>
                                                </button>
                                                <button class="btn btn-default btn-stroke iConfirm" data-uri="{{ path('category_delete', {'module': module, 'id': category.id}) }}" data-acttype="ajax" data-title="删除 {{ category.title}}" data-id="category" data-msg="确认删除栏目 {{ category.title }} 吗？" title="删除栏目">
                                                    <i class="fa fa-times text-danger"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('.iTablelist').listTable();
});
</script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/components/plugins/artDialog/skins/default.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/components/modules/admin/notifications/gritter/assets/lib/css/jquery.gritter.css') }}" />
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/components/plugins/form/jquery.form.js') }}"></script>
    <script src="{{ asset('assets/components/plugins/artDialog/jquery.artDialog.min.js') }}"></script>
    <script src="{{ asset('assets/components/modules/admin/notifications/gritter/assets/lib/js/jquery.gritter.min.js') }}"></script>
    <script src="{{ asset('assets/components/modules/admin/notifications/gritter/assets/custom/js/gritter.init.js') }}"></script> 
{% endblock %}