{% extends '::single.html.twig' %}

{% block content %}
    <div class="login-content">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="content">
                        <a href=""><img src="{{ asset('statics/images/demo/login_xyg.jpg') }}"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="inner">

                    <div class="col-lg-offset-3 col-lg-10"><h1>用户登录</h1></div>

                    <form action="{{ path("login_check") }}" method="POST" id="login" class="form-horizontal">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <input type="hidden" name="_target_path" value="{{ target_path }}" />
                        <div class="form-group required">
                            <label class="col-lg-3 control-label" for="username">用户名/邮箱</label>
                            <div class="col-lg-4"><input type="text" id="username" name="_username" class="form-control" required="required" value="{{ last_username }}" placeholder="用户名或电子邮件地址"/></div>
                        </div>
                        <div class="form-group required">
                            <label class="col-lg-3 control-label" for="password">密码</label>
                            <div class="col-lg-4"><input type="password" id="password" name="_password" class="form-control" required="required"/></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-5">
                                <input type="hidden" name="_remember_me" value="0">
                                <div class="checkbox"><label><input type="checkbox" id="remember_me" name="_remember_me" value="1"> 自动登录</label></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-10">
                                <button type="submit" class="btn btn-primary">登 录</button> |
                                <a href="{{ path('account_recovery') }}">忘记密码？</a> |
                                <a href="{{ path('account_recovery') }}">没有收到密码重置邮件？</a>
                            </div>
                        </div>
                    </form>

                    <div class="col-lg-offset-3 col-lg-10">
                        <p class="text-muted">使用社交网络帐号登录</p>

                        <div class="sns-btn-group">
                            <a href="{{ path('oauth_weibo') }}" class="btn btn-weibo"><span class="icon icon-weibo"></span> 新浪微博</a>
                            <a href="{{ path('oauth_qq') }}" class="btn btn-qq"><span class="icon icon-qq"></span> QQ帐号</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
