<!DOCTYPE html>
<html dir="ltr" class="ltr" lang="zh_CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    {% set pageTitle = page_title() %}
    <title>{% if pageTitle is not null %}{{ pageTitle }} - 众来邦{% else %}众来邦 - 英摩卡女装{% endif %}</title>
    <link href="{{ asset('statics/images/cart.png') }}" rel="icon" />
    {% if keywords is defined %}
        <meta name="keywords" content="{{ keywords }}" />
    {% endif %}
    {% if description is defined %}
        <meta name="description" content="{{ description }}" />
    {% endif %}
    {% block css %}
    <link href="{{ asset('statics/css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ asset('statics/css/stylesheet.css') }}" rel="stylesheet" />    
    <link href="{{ asset('statics/js/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" />
    <link href="{{ asset('statics/css/animation.css') }}" rel="stylesheet" />
    <link href="{{ asset('statics/css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('statics/css/font.css') }}" rel="stylesheet" />
    <link href="{{ asset('statics/css/pavcarousel.css') }}" rel="stylesheet" />
    <link href="{{ asset('statics/css/pavmegamenu/style.css') }}" rel="stylesheet" />
    {% endblock %}
    {% block js %}
    <!--<script type="text/javascript" src="{{ asset('statics/js/jquery/jquery.js') }}"></script>-->
    <script type="text/javascript" src="{{ asset('statics/js/jquery/jquery-1.7.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('statics/js/jquery/ui/jquery-ui-1.8.16.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('statics/js/jquery/ui/external/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('statics/js/common.js') }}"></script>
    <script type="text/javascript" src="{{ asset('statics/js/jquery/bootstrap/bootstrap.min.js') }}"></script>
    {% endblock %}
    <!--[if lt IE 9]>
    <script src="{{ asset('statics/js/html5.js') }}"></script>
    <script src="{{ asset('statics/js/respond.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('statics/css/ie8.css') }}" />
    <![endif]-->
</head>
{% block body %}{% endblock %}
{% block javascript %}{% endblock %}
</body>
</html>