{% extends '::layout.html.twig' %}

{% block main %}
            <aside class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div id="column-left" class="sidebar">
                    {% block sidebar %}{% endblock %}
                </div>
            </aside>
            <section class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <!--<div class="success">这是一个提示信息</div>-->
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </section>
{% endblock %}
