{% extends '::layout.html.twig' %}

{% block main %}
            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--<div class="success">这是一个提示信息</div>-->
                <div id="content">
                    {% block content %}{% endblock %}
                    {% block ext_content %}{% endblock %}
                </div>
            </section>
{% endblock %}