{% extends 'AdminBundle:Layout:Front/layout.html.twig' %}

{% block main %}
<div class="col-md-9 blog-items">
    {% block content %}
    <div class="box-generic padding-none">
        <h4 class="innerAll border-bottom margin-none">
            <a href="blog_article.html?lang=en" title="Ready for your Business Second Line Title">Ready for your Business</a>
        </h4>
        <div class="innerAll bg-gray border-bottom">
            <span>
                <i class="fa fa-clock-o"></i>
                <i>2 days ago</i>
            </span>&nbsp;
            <span>
                <i class="fa fa-user"></i>
                <i>by adrian</i>
            </span>&nbsp;
            <span>
                <i class="fa fa-file-text-o"></i>
                <i>on Core Admin</i>
            </span>&nbsp;
            <span>
                <i class="fa fa-comment"></i>
                <i>5 comments</i>
            </span>
        </div>
        <div class="innerAll">
            <div class="media innerAll margin-none">
                <a href="blog_article.html?lang=en" class="pull-left">
                    <img src="../assets/images/people/250/16.jpg" width="100" alt="photo" class="img-responsive">
                </a>
                <div class="media-body innerL">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum, accusamus voluptatibus recusandae minus necessitatibus optio earum debitis eveniet repudiandae officia nemo blanditiis omnis est repellat
                        incidunt atque accusantium quibusdam laboriosam in molestias.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, nostrum, iste fugit labore soluta officia blanditiis rerum obcaecati!</p>
                </div>
            </div>
            <div class="innerAll">
                <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, earum, error consequatur dolorem atque mollitia impedit nemo deserunt sapiente architecto modi veniam laborum debitis vitae ullam placeat temporibus cupiditate
                    obcaecati neque et quidem dignissimos nostrum fugiat perspiciatis voluptatem quas labore.</p>
            </div>
        </div>

        <div class="innerAll border-top">
            <a href="blog_article.html?lang=en" class="btn btn-info btn-xs pull-right strong">read more</a>

            Tags:
            <i class="fa fa-fw fa-tags"></i>
            <span class="label label-default">Coral</span>
            <span class="label label-default">Admin Template</span>
            <span class="label label-default">HTML</span>
            <span class="label label-default">CSS</span>
            <span class="label label-default">Documentation</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="box-generic padding-none">
                <a href="blog_article.html?lang=en">
                    <img src="../assets/images/people/250/2.jpg" alt="photo" class="img-responsive innerAll inner-2x border-bottom">
                </a>
                <h4 class="innerAll border-bottom margin-none">
                    <a href="blog_article.html?lang=en" title="Ready for your Business Second Line Title">Ready for your Business Second Line Title</a>
                </h4>
                <div class="innerAll">
                    <span>
                        <i class="fa fa-clock-o fa-fw"></i>
                        <i>2 days ago</i>
                    </span>
                    <span class="pull-right">
                        <i>3</i>
                        <i class="fa fa-comment fa-fw"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box-generic padding-none">
                <a href="blog_article.html?lang=en">
                    <img src="../assets/images/people/250/3.jpg" alt="photo" class="img-responsive innerAll inner-2x border-bottom">
                </a>
                <h4 class="innerAll border-bottom margin-none">
                    <a href="blog_article.html?lang=en" title="Ready for your Business Second Line Title">Ready for your Business Second Line Title</a>
                </h4>
                <div class="innerAll">
                    <span>
                        <i class="fa fa-clock-o fa-fw"></i>
                        <i>2 days ago</i>
                    </span>
                    <span class="pull-right">
                        <i>3</i>
                        <i class="fa fa-comment fa-fw"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box-generic padding-none">
                <a href="blog_article.html?lang=en">
                    <img src="../assets/images/people/250/4.jpg" alt="photo" class="img-responsive innerAll inner-2x border-bottom">
                </a>
                <h4 class="innerAll border-bottom margin-none">
                    <a href="blog_article.html?lang=en" title="Ready for your Business Second Line Title">Ready for your Business Second Line Title</a>
                </h4>
                <div class="innerAll">
                    <span>
                        <i class="fa fa-clock-o fa-fw"></i>
                        <i>2 days ago</i>
                    </span>
                    <span class="pull-right">
                        <i>3</i>
                        <i class="fa fa-comment fa-fw"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="box-generic">
                <a href="blog_article.html?lang=en" class="thumbnail border-none">
                    <img src="../assets/images/people/250/11.jpg" width="100" alt="photo" class="img-responsive innerAll">
                </a>
                <h4 class="margin-top">
                    <a href="blog_article.html?lang=en" title="Ready for your Business Second Line Title">Ready for your Business Second Line Title</a>
                </h4>
                <span>
                    <i class="fa fa-clock-o"></i>
                    <i>2 days ago</i>
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4">
            <div class="box-generic">
                <a href="blog_article.html?lang=en" class="thumbnail border-none">
                    <img src="../assets/images/people/250/19.jpg" width="100" alt="photo" class="img-responsive innerAll">
                </a>
                <h4 class="margin-top">
                    <a href="blog_article.html?lang=en" title="Ready for your Business Second Line Title">Ready for your Business Second Line Title</a>
                </h4>
                <span>
                    <i class="fa fa-clock-o"></i>
                    <i>2 days ago</i>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box-generic">
                <a href="blog_article.html?lang=en" class="thumbnail border-none">
                    <img src="../assets/images/people/250/22.jpg" width="100" alt="photo" class="img-responsive innerAll">
                </a>
                <h4 class="margin-top">
                    <a href="blog_article.html?lang=en" title="Ready for your Business Second Line Title">Ready for your Business Second Line Title</a>
                </h4>
                <span>
                    <i class="fa fa-clock-o"></i>
                    <i>2 days ago</i>
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    {% endblock %}
</div>
<div class="col-md-3">
    {$ block silderbar %}
    <h3>Categories</h3>
    <ul class="list-group list-group-front margin-none">
        <li class="list-group-item active">
            <a href="#">
                <i class="fa fa-user"></i>Discussion Board</a>
        </li>
        <li class="list-group-item">
            <a href="#">
                <span class="badge pull-right badge-primary hidden-md">13</span>
                <i class="fa fa-book"></i>Questions &amp; Answers</a>
        </li>
        <li class="list-group-item">
            <a href="#">
                <span class="badge pull-right badge-primary hidden-md">2</span>
                <i class="fa fa-envelope"></i>Support</a>
        </li>
    </ul>


    <div class="separator"></div>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Keywords...">
        <span class="input-group-addon border-left-none">
            <a href="#">
                <i class="fa fa-search"></i>
            </a>
        </span>
    </div>

    <div class="separator"></div>
    <div class="separator"></div>

    <!-- Blog Tags -->
    <h3>Tags</h3>
    <span class="label label-primary">Coral</span>
    <span class="label label-info">Application</span>
    <span class="label label-warning">HTML</span>
    <span class="label label-default">CSS</span>
    <span class="label label-primary">Website</span>
    <span class="label label-danger">Front</span>
    <!-- // Blog Tags END -->
    {% endblock %}
</div>
{% endblock %}