{% extends 'AdminBundle:Layout:Front/base.html.twig' %}

{% block body %}
        <div id="content">

            <div class="page-title">
                <div class="container">
                    <!-- breadcrumb -->
                    {{ render_breadcrumbs() }}
                    <!-- // END breadcrumb -->
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {% block main %}{% endblock %}
                </div>
            </div>

        </div>
{% endblock %}