{% extends ':Layout:layout.html.twig' %}

{% block navbar %}{% endblock %}
{% block bottom_ad %}{% endblock %}
{% block tabs %}
<div class="widget widget-tabs widget-tabs-double-2">
	<!-- Tabs Heading -->
	<div class="widget-head">
		<ul>
			<li{% if currentRoute == 'profile_edit' %} class="active" {% endif %}><a class="glyphicons user" href="{{ path('profile_edit') }}"><i></i><span>网站配置</span></a></li>
			<li{% if currentRoute == 'upload_face' %} class="active" {% endif %}><a class="glyphicons credit_card" href="{{ path('upload_face') }}"><i></i><span>订单管理</span></a></li>
			<li{% if currentRoute == 'account_change_email' %} class="active" {% endif %}><a class="glyphicons envelope" href="{{ path('account_change_email') }}"><i></i><span>会员管理</span></a></li>
			<li{% if currentRoute == 'account_change_password' %} class="active" {% endif %}><a class="glyphicons unlock" href="{{ path('account_change_password') }}"><i></i><span>活动设置</span></a></li>
            <li{% if currentRoute == 'profile_edit' %} class="active" {% endif %}><a class="glyphicons user" href="{{ path('profile_edit') }}"><i></i><span>网站配置</span></a></li>
			<li{% if currentRoute == 'upload_face' %} class="active" {% endif %}><a class="glyphicons credit_card" href="{{ path('upload_face') }}"><i></i><span>订单管理</span></a></li>
			<li{% if currentRoute == 'account_change_email' %} class="active" {% endif %}><a class="glyphicons envelope" href="{{ path('account_change_email') }}"><i></i><span>会员管理</span></a></li>
			<li{% if currentRoute == 'account_change_password' %} class="active" {% endif %}><a class="glyphicons unlock" href="{{ path('account_change_password') }}"><i></i><span>活动设置</span></a></li>
            <li{% if currentRoute == 'profile_edit' %} class="active" {% endif %}><a class="glyphicons user" href="{{ path('profile_edit') }}"><i></i><span>网站配置</span></a></li>
			<li{% if currentRoute == 'upload_face' %} class="active" {% endif %}><a class="glyphicons credit_card" href="{{ path('upload_face') }}"><i></i><span>订单管理</span></a></li>
			<li{% if currentRoute == 'account_change_email' %} class="active" {% endif %}><a class="glyphicons envelope" href="{{ path('account_change_email') }}"><i></i><span>会员管理</span></a></li>
			<li{% if currentRoute == 'account_change_password' %} class="active" {% endif %}><a class="glyphicons unlock" href="{{ path('account_change_password') }}"><i></i><span>活动设置</span></a></li>
			<li{% if currentRoute == 'account_change_password' %} class="active" {% endif %}><a class="glyphicons unlock" href="{{ path('account_change_password') }}"><i></i><span>活动设置</span></a></li>
		</ul>
	</div>
	<!-- // Tabs Heading END -->
</div>
<div class="col-separator-h box"></div>
{% endblock %}
