{% macro flash(type, messages, close, use_raw, class, domain) %}
    <div class="alert alert-success{{ type ? ' alert-'~type : '' }} fade in {{ class|default('') }}">
        {% if close|default(false) %}
            <button type="button" class="close" data-dismiss="alert">×</button>
        {% endif %}
        <ul>
        {% for message in messages %}
            {% if use_raw|default(false) %}
                <li>{{ message|raw }}</li>
            {% else %}
                <li>{{ message }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endmacro %}