{% extends 'AdminBundle::layout.html.twig' %}



{% block main %}
<div class="col-md-12 animated fadeInDown">
    <div class="col-separator box col-separator-first col-unscrollable">
        <div class="col-table">
            <h4 class="innerAll border-bottom margin-none">淘宝宝贝排名搜索</h4>
            <div class="col-table-row">
                <div class="col-app col-unscrollable">
                    <div class="col-app animated fadeInDown">
                        <div class="innerAll">


                            <div id="search" class="form-horizontal">
                                <div class="form-group margin-none innerB">
                                    <div class="col-sm-4 control-label">
                                        <span class="required" title="该项为必填项">*</span>
                                        <label for="shop" class="required">旺旺名</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" id="shop" name="shop" class="form-control" placeholder="店铺名称" value="英摩卡">
                                    </div>
                                    <div class="col-sm-5">
                                        <span class="help-block">需要填写淘宝用户名，不是店铺名称</span>
                                    </div>
                                </div>
                                <div class="form-group margin-none innerB">
                                    <div class="col-sm-4 control-label">
                                        <span class="required" title="该项为必填项">*</span>
                                        <label for="keyword" class="required">关键字</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" id="keyword" name="keyword" class="form-control" placeholder="请输入搜索关键字">
                                    </div>
                                    <div class="col-sm-5">
                                        <span class="help-block">建议从长关键字开始搜索，再慢慢缩减</span>
                                    </div>
                                </div>
                                <div class="form-group margin-none innerB">
                                    <div class="col-sm-4 control-label">
                                        <span class="required" title="该项为必填项">*</span>
                                        <label for="total" class="required">搜索页数</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" id="total" name="total" class="form-control" placeholder="请输入最大搜索页数" value="20">
                                    </div>
                                    <div class="col-sm-5">
                                        <span class="help-block">搜索页数推荐20页内，再后面基本没意义了</span>
                                    </div>
                                </div>
                                <div class="form-group margin-none innerB">
                                    <div class="col-sm-offset-5 col-sm-7">
                                        <button type="button" id="button-search" class="btn btn-primary">开始搜索</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 animated fadeInDown">
    <div class="col-separator box col-separator-first col-unscrollable">
        <div class="col-separator-h"></div>
        <h3 id="result">
        </h3>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/components/common/forms/editors/wysihtml5/assets/lib/js/wysihtml5-0.3.0_rc2.min.js') }}"></script>
    <script src="{{ asset('assets/components/common/forms/editors/wysihtml5/assets/lib/js/bootstrap-wysihtml5-0.0.2.js') }}"></script>
    <script src="{{ asset('assets/components/common/forms/editors/wysihtml5/assets/custom/wysihtml5.init.js') }}"></script>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$('#button-search').bind('click', function() {
    $('#result .alert').remove();
    $('#result').html('<div class="alert alert-success">搜索中。。。请不要再次点击搜索</div>');
	$.ajax({
		url: '{{ path('rank_search') }}',
		type: 'post',
		data: $('#search input[type=\'text\']'),
		dataType: 'json',
		success: function(json) {
			$('#result .alert').remove();
			
			if (json['success'] == 0) {
				$('#result').html('<div class="alert alert-danger">' + json['message'] + '</div>');

			} else {
				$('#result').html('<div class="alert alert-success">' + json['message'] + '</div>');
			}
            $('.alert').fadeIn('slow');
		}
	});
});
</script>
{% endblock %}