{% extends ':Layout:column2.html.twig' %}

{% block profileNav %}
<div class="widget widget-tabs widget-tabs-double-2">
	<!-- Tabs Heading -->
	<div class="widget-head">
		<ul>
			<li{% if currentRoute == 'profile_edit' %} class="active" {% endif %}><a class="glyphicons user" href="{{ path('profile_edit') }}"><i></i><span>个人资料</span></a></li>
			<li{% if currentRoute == 'upload_face' %} class="active" {% endif %}><a class="glyphicons credit_card" href="{{ path('upload_face') }}"><i></i><span>修改头像</span></a></li>
			<li{% if currentRoute == 'account_change_email' %} class="active" {% endif %}><a class="glyphicons envelope" href="{{ path('account_change_email') }}"><i></i><span>修改邮箱</span></a></li>
			<li{% if currentRoute == 'account_change_password' %} class="active" {% endif %}><a class="glyphicons unlock" href="{{ path('account_change_password') }}"><i></i><span>修改密码</span></a></li>
		</ul>
	</div>
	<!-- // Tabs Heading END -->
</div>
<div class="col-separator-h box"></div>
{% endblock %}

{% block sidebar %}
<h4 class="innerAll margin-none border-bottom">会员中心</h4>
<!-- col-table-row -->
<div class="col-table-row">
    <!-- col-app -->
    <div class="col-app col-unscrollable">
        <!-- col-app -->
        <div class="col-app">
            <ul class="list-group list-group-1 margin-none borders-none">
                <li class="list-group-item {% if currentRoute == 'profile_edit' %}active{% endif %}">
                    <a href="{{ path('profile_edit') }}">
                        <span class="badge badge-primary pull-right">3</span>
                        个人资料
                    </a>
                    <ul class="list-group list-group-1 margin-none borders-none">
                        <li class="list-group-item {% if currentRoute == 'upload_face' %}active{% endif %}"><a href="{{ path('upload_face') }}"><i class="fa fa-circle-o"></i>修改头像</a></li>
                        <li class="list-group-item {% if currentRoute == 'account_change_password' %}active{% endif %}"><a href="{{ path('account_change_password') }}"><i class="fa fa-circle-o"></i>修改密码</a></li>
                        <li class="list-group-item {% if currentRoute == 'account_change_email' %}active{% endif %}"><a href="{{ path('account_change_email') }}"><i class="fa fa-circle-o"></i>修改邮箱</a></li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <a href="">
                        <span class="badge badge-primary pull-right">3</span>
                        我的订单
                    </a>
                    <ul class="list-group list-group-1 margin-none borders-none">
                        <li class="list-group-item"><a href="tables.html?lang=en"><i class="fa fa-circle-o"></i>订单</a></li>
                        <li class="list-group-item"><a href="tables_responsive.html?lang=en"><i class="fa fa-circle-o"></i>退款管理</a></li>
                        <li class="list-group-item"><a href="pricing_tables.html?lang=en"><i class="fa fa-circle-o"></i>数据包</a></li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <a href="#menu_forms" data-toggle="collapse">其他</a>
                    <ul class="list-group list-group-1 borders-none margin-none" id="menu_forms">
                        <li class="list-group-item {% if currentRoute == 'account_location' %}active{% endif %}">
                            <a href="{{ path('account_location') }}"><i class="fa fa-circle-o"></i>地址库</a>
                        </li>
                        <li class="list-group-item">
                            <a href="form_elements.html?lang=en"><i class="fa fa-circle-o"></i>Form Elements</a>
                        </li>
                        <li class="list-group-item">
                            <a href="form_validator.html?lang=en">Form Validator</a>
                        </li>
                        <li class="list-group-item">
                            <a href="file_managers.html?lang=en">File Managers</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- // END col-app -->
    </div>
    <!-- // END col-app -->
</div>
<!-- // END col-table-row -->
{% endblock %}