{% extends '::single.html.twig' %}

{% block content %}
    <div class="login-content">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="col-lg-offset-4 col-lg-8"><h1>注册会员</h1></div>
    <form class="form-horizontal" action="{{ path("account_recovery") }}" method="POST">

        <div class="form-group">
            <label for="email" class="control-label col-sm-3"><span class="required">*</span>用户名或电子邮件地址</label>

            <div class="col-sm-9">
                <input type="text" id="email" name="email" required="required"/>
                {% if error is defined %}
                    <div class="has-error">
                        <div class="help-block">
                            <ul>
                                <li>{{ error }}</li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary">
                    取回密码
                </button>
            </div>
        </div>

    </form>
                </div>
                
                <div class="col-lg-offset-3 col-lg-10">
                    <p class="text-muted">使用社交网络帐号登录</p>

                    <div class="sns-btn-group">
                        <a href="{{ path('oauth_weibo') }}" class="btn btn-weibo"><span class="icon icon-weibo"></span> 新浪微博</a>
                        <a href="{{ path('oauth_qq') }}" class="btn btn-qq"><span class="icon icon-qq"></span> QQ帐号</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="content">
                        <a href=""><img src="{{ asset('statics/images/demo/yzsm.gif') }}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
