{% extends '::single.html.twig' %}

{% block content %}
    <div class="login-content">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="col-lg-offset-4 col-lg-8"><h1>重置{{ user.username }}的密码</h1></div>
                    {% form_theme form ':Form:fields.html.twig' %}
                    {{ form(form, {'action': path('account_recovery_check', {'token': token})}) }}
                </div>
                
                <div class="col-lg-offset-3 col-lg-10">
                    <p class="text-muted">使用社交网络帐号登录</p>

                    <div class="sns-btn-group">
                        <a href="{{ path('oauth_weibo') }}" class="btn btn-weibo"><span class="icon icon-weibo"></span> 新浪微博</a>
                        <a href="{{ path('oauth_qq') }}" class="btn btn-qq"><span class="icon icon-qq"></span> QQ帐号</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="content">
                        <a href=""><img src="{{ asset('statics/images/demo/yzsm.gif') }}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
