{% extends 'AdminBundle::layout.html.twig' %}

{% form_theme form ':Form:fields.html.twig' %}

{% block main %}
<div class="col-md-12 animated fadeInDown">
    <div class="col-separator box col-separator-first col-unscrollable">
        <div class="col-table">
            <h4 class="innerAll border-bottom margin-none">{{ actionName }}</h4>
            <div class="col-table-row">
                <div class="col-app col-unscrollable">
                    <div class="col-app animated fadeInDown">
                        <div class="innerAll">
                            {{ form_start(form, {'action': actionUrl}) }}
                            <div class="row">
                                <div class="col-md-6">

                                    {{ form_row(form.title) }}
                                    {{ form_row(form.model) }}
                                    {{ form_row(form.buiingPrice) }}
                                    {{ form_row(form.sellingPrice) }}
                                    {{ form_row(form.currentPrice) }}
                                    {{ form_row(form.sku_1) }}
                                    {{ form_row(form.sku_2) }}
                                    {{ form_row(form.status) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.brandId) }}
                                    {{ form_row(form.name) }}
                                    {{ form_row(form.stock) }}
                                    {{ form_row(form.scrap) }}
                                    {{ form_row(form.barcode) }}
                                    {{ form_row(form.resource) }}
                                    {{ form_row(form.metaTitle) }}
                                    {{ form_row(form.keywords) }}
                                    {{ form_row(form.description) }}
                                </div>
                            </div>
                            <div class="form-group margin-none innerB">
                                {{ form_label(form.content) }}
                                {{ form_widget(form.content) }}
                            </div>
                            {{ form_widget(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/components/common/forms/elements/select2/assets/lib/js/select2.js') }}"></script>
    <script src="{{ asset('assets/components/common/forms/editors/wysihtml5/assets/lib/js/wysihtml5-0.3.0_rc2.min.js') }}"></script>
    <script src="{{ asset('assets/components/common/forms/editors/wysihtml5/assets/lib/js/bootstrap-wysihtml5-0.0.2.js') }}"></script>
    <script src="{{ asset('assets/components/common/forms/editors/wysihtml5/assets/custom/wysihtml5.init.js') }}"></script>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).ready(function() {
    //分类联动
    $('#product_category').iSelect();

    $("#product_brandId").select2({
        placeholder: '查找品牌名称',
        minimumInputLength: 2,
        ajax: {
            url: "{{ path('brand_json') }}",
            dataType: 'json',
            quietMillis: 100,
            data: function (term, page) { // page is the one-based page number tracked by Select2
                return {name: term };
            },
            results: function (data, page) {
                return {results: data.message};
            }
        },
        initSelection: function(element, callback) {
            // the input tag has a value attribute preloaded that points to a preselected movie's id
            // this function resolves that id attribute to an object that select2 can render
            // using its formatResult renderer - that way the movie name is shown preselected
            var id=$(element).val();
            if (id!=="") {
                $.ajax("{{ path('brand_json') }}", {
                    data: {
                        id: id
                    },
                    dataType: "json"
                }).done(function(data) { callback(data.message); });
            }
        },
        formatResult: format, // omitted for brevity, see the source of this page
        formatSelection: format, // omitted for brevity, see the source of this page
        dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
        escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
    });
    function format(item) { return item.name; };
});
</script>
{% endblock %}