{% extends 'AdminBundle::layout.html.twig' %}


{% block main %}

<div class="col-md-12">
    <div class="col-separator box col-separator-first col-unscrollable">
        <div class="col-table">
            <h4 class="innerAll margin-none border-bottom">{{ product.title}}</h4>
            <div class="col-table-row">
                <div class="col-app col-unscrollable">
                    <div class="col-app">

                        <div id="pdfTarget">
                            <div class="innerAll shop-client-products cart invoice">
                                <table class="table table-invoice">
                                    <tbody>
                                        <tr>
                                            <td style="width: 58%;">
                                                <div class="media">
                                                    <img class="media-object pull-left thumb" src="{{ product.icon }}" width="80px" alt="Logo" />
                                                    <img class="media-object pull-left thumb" src="{{ product.icon }}" width="80px" alt="Logo" />
                                                    <img class="media-object pull-left thumb" src="{{ product.icon }}" width="80px" alt="Logo" />
                                                    <img class="media-object pull-left thumb" src="{{ product.icon }}" width="80px" alt="Logo" />
                                                    <img class="media-object pull-left thumb" src="{{ product.icon }}" width="80px" alt="Logo" />
                                                    <div class="media-body">
                                                        <div class="alert alert-primary margin-none">
                                                            <strong>销售价格:</strong>{{ product.sellingPrice }}<br/>
                                                            <strong>促销价格:</strong>{{ product.currentPrice }}<br/>
                                                            <strong>分类:</strong>{{ category.title }}<br/>
                                                        </div>
                                                        <div class="separator bottom"></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="right">
                                                <div class="innerL">
                                                    <h4 class="separator bottom">{{ product.name }}</h4>
                                                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-default" title="浏览前台显示的产品样式" target="_blank"><i class="fa fa-print"></i>前台显示</a>
                                                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-success" title="编辑信息" target="_blank"><i class="fa fa-pencil"></i>编辑</a>
                                                    <button class="btn btn-default btn-stroke iConfirm" data-uri="{{ path('product_edit', {'id': product.id}) }}" data-acttype="ajax" data-title="确认提示" data-id="product" data-msg="确认下回 {{ product.name }} 吗？" title="下架商品">
                                                    <i class="fa fa-times text-danger"></i>下架
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- Tabs -->
                                <div class="relativeWrap" >
                                    <div class="widget widget-tabs widget-tabs-responsive">

                                        <!-- Tabs Heading -->
                                        <div class="widget-head">
                                            <ul>
                                                <li class="active"><a class="glyphicons coffe_cup" href="#tab_sku" data-toggle="tab"><i></i>销售属性</a></li>
                                                <li><a class="glyphicons share_alt" href="#tab_supply" data-toggle="tab"><i></i>供应商</a></li>
                                                <li><a class="glyphicons share_alt" href="#tab_desc" data-toggle="tab"><i></i>商品详情</a></li>
                                            </ul>
                                        </div>
                                        <!-- // Tabs Heading END -->

                                        <div class="widget-body">
                                            <div class="tab-content">

                                                <!-- Tab content -->
                                                <div class="tab-pane active" id="tab_sku">
                                                    <table id="sku_list" class="table table-bordered table-primary table-striped table-vertical-center" data-acturi="{{ path('sku_ajaxedit') }}">
                                                        <thead>
                                                            <tr>
                                                                <th class="center">标签</th>
                                                                <th class="center">状态</th>
                                                                <th class="center">{{ product.sku1 }}</th>
                                                                {% if product.sku2 %}<th class="center">{{ product.sku2 }}</th>{% endif %}
                                                                <th class="center">进价</th>
                                                                <th class="center">销售价</th>
                                                                <th class="center">促销价</th>
                                                                <th class="center">库存量</th>
                                                                <th class="center">次品量</th>
                                                                <th class="center">供应商</th>
                                                                <th class="center">更新日期</th>
                                                                <th class="center">操作</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for sku in skus %}
                                                            <tr>
                                                                <td class="center"><span class="ajaxedit" data-id="{{ sku.id}}" data-field="name" data-tdtype="edit">{{ sku.name }}</span></td>
                                                                <td class="center">
                                                                    <span data-id="{{ sku.id}}" data-field="enabled" data-value="{{ sku.enabled}}" data-tdtype="toggle">
                                                                        <i class="fa {% if sku.enabled %}fa-eye{%else%}fa-eye-slash{%endif%}"></i>
                                                                    </span>
                                                                </td>
                                                                <td class="center"><span class="ajaxedit" data-id="{{ sku.id}}" data-field="name" data-tdtype="edit">{{ sku.sku1 }}</span></td>
                                                                {% if sku.sku2 %}
                                                                <td class="center"><span class="ajaxedit" data-id="{{ sku.id}}" data-field="name" data-tdtype="edit">{{ sku.sku2 }}</span></td>
                                                                {% endif %}
                                                                <td class="center"><span class="ajaxedit" data-id="{{ sku.id}}" data-field="name" data-tdtype="edit">{{ sku.buiingPrice }}</span></td>
                                                                <td class="center"><span class="ajaxedit" data-id="{{ sku.id}}" data-field="name" data-tdtype="edit">{{ sku.sellingPrice }}</span></td>
                                                                <td class="center"><span class="ajaxedit" data-id="{{ sku.id}}" data-field="name" data-tdtype="edit">{{ sku.currentPrice }}</span></td>
                                                                <td class="center"><span class="ajaxedit" data-id="{{ sku.id}}" data-field="name" data-tdtype="edit">{{ sku.stock }}</span></td>
                                                                <td class="center"><span class="ajaxedit" data-id="{{ sku.id}}" data-field="name" data-tdtype="edit">{{ sku.scrap }}</span></td>
                                                                <td class="center">{{ sku.supply.brand.title }}</td>
                                                                <td class="center">{{ sku.modified|date('Y-m-d H:i:s') }}</td>
                                                                <td class="center">
                                                                    <div class="btn-group btn-group-xs">
                                                                        <button class="btn btn-default btn-stroke iDialog" data-width="500" data-uri="{{ path('sku_edit', {'id': sku.id}) }}" data-title="编辑属性" data-id="sku" title="编辑属性">
                                                                            <i class="fa fa-pencil text-primary"></i>
                                                                        </button>
                                                                        <button class="btn btn-default btn-stroke iConfirm" data-uri="{{ path('sku_delete', {'id': sku.id}) }}" data-acttype="ajax" data-title="删除" data-id="sku" data-msg="确认删除属性 {{ sku.name }} 吗？" title="删除销售属性">
                                                                            <i class="fa fa-times text-danger"></i>
                                                                        </button>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th colspan="{{ product.sku2 ? '4' : '3' }}" class="right">总计</th>
                                                                <th class="center">{{ product.buiingPrice }}</th>
                                                                <th class="center">{{ product.sellingPrice }}</th>
                                                                <th class="center">{{ product.currentPrice }}</th>
                                                                <th class="center">{{ product.stock }}</th>
                                                                <th class="center">{{ product.scrap }}</th>
                                                                <th colspan="3">
                                                                    <div class="btn-group pull-right">
                                                                        <button class="btn btn-default btn-stroke iDialog" data-width="850" data-uri="{{ path('sku_add', {'productId': product.id}) }}" data-title="编辑属性" data-id="sku" title="编辑属性">
                                                                            <i class="fa fa-pencil text-primary"></i>批量添加销售属性
                                                                        </button>
                                                                    </div>
                                                                </th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                                <!-- // Tab content END -->

                                                <!-- Tab content -->
                                                <div class="tab-pane" id="tab_supply">
                                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                                                </div>
                                                <div class="tab-pane" id="tab_desc">
                                                    <p>{{ product.content|raw }}</p>
                                                </div>
                                                <!-- // Tab content END -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // Tabs END -->

                                <div class="box-generic">
                                    <table class="table table-invoice">
                                        <tbody>
                                            <tr>
                                                <td style="width: 50%;">
                                                    <p class="lead">订单信息</p>
                                                    <h2>李学历</h2>
                                                    <address class="margin-none">
                                                        <abbr title="Work email">邮箱:</abbr>
                                                        <a href="mailto:#">john.doe@mybiz.com</a>
                                                        <br />
                                                        <abbr title="Work Phone">联系电话:</abbr>(012) 345-678-901
                                                        <br/>
                                                        <abbr title="Work Fax">地址:</abbr>(012) 678-132-901
                                                    </address>
                                                </td>
                                                <td class="right">
                                                    <p class="lead">{{ brand.title }}</p>
                                                    <address class="margin-none">
                                                        <strong>{{ brand.contact }}</strong>
                                                        <br/>{{ brand.mall.title }} {{ brand.address }} {{ brand.floor }} # {{ brand.houseNumber }}
                                                        <br/>
                                                        <abbr title="Work email">e-mail:</abbr>
                                                        <a href="mailto:#">company@mybiz.com</a>
                                                        <br />
                                                        <abbr title="Work Phone">电话:</abbr>{{ brand.phone }}
                                                        <br/>
                                                        <abbr title="Work Fax">主页:</abbr>{{ brand.homePage }}
                                                        <div class="separator line"></div>
                                                        <p class="margin-none">
                                                            <strong>提示:</strong>
                                                            <br/>要编辑品牌信息，请到品牌管理里编辑.
                                                        </p>
                                                    </address>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/components/plugins/artDialog/skins/default.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/components/modules/admin/notifications/gritter/assets/lib/css/jquery.gritter.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/components/plugins/form/jquery.form.js') }}"></script>
    <script src="{{ asset('assets/components/plugins/artDialog/jquery.artDialog.min.js') }}"></script>
    <script src="{{ asset('assets/components/modules/admin/notifications/gritter/assets/lib/js/jquery.gritter.min.js') }}"></script>
    <script src="{{ asset('assets/components/modules/admin/notifications/gritter/assets/custom/js/gritter.init.js') }}"></script> 
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).ready(function() {
    //分类联动
    $('#brand_mall').iSelect();
    $('#sku_list').listTable();
});
</script>
{% endblock %}