{% extends ':Layout:column2.html.twig' %}

{% block navbar %}{% endblock %}
{% block bottom_ad %}{% endblock %}
{% block content %}
<div class="heading-buttons innerLR border-bottom">
    <h4 class="margin-none pull-left innerTB">{{ name }}</h4>
    <div class="btn-group btn-group-xs pull-right">
        <button class="btn btn-default">
            <a href="{{ path('product_add', {'categoryId': categoryId}) }}"><i class="fa fa-edit"></i>添加商品</a>
        </button>
    </div>
    <div class="clearfix"></div>
</div>
<div class="bg-gray border-bottom innerAll">
	<form class="input-group">
	  	<input type="text" name="title" class="form-control" placeholder="输入标题关键字 .. " />
	  	<span class="input-group-btn"><button type="submit" class="btn btn-inverse">搜索</button></span>
	</form>
</div>
<div class="col-table-row">
    <div class="col-app col-unscrollable">
        <div class="col-app animated fadeInDown">
            <div class="innerAll">

                <table class="iTablelist table table-bordered table-primary" data-acturi="{{ path('product_ajaxedit') }}">
                    <thead>
                        <tr>
                            <th class="center">代号</th>
                            <th class="center">商品名称</th>
                            <th class="center">所属栏目</th>
                            <th class="center">所属品牌</th>
                            <th class="center">创建者</th>
                            <th class="center">更新时间</th>
                            <th class="center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in pagination %}
                        <tr>
                            <td class="center"><span class="ajaxedit" data-id="{{ product.id}}" data-field="name" data-tdtype="edit">{{ product.name}}</span></td>
                            <td style="width: 350px;"><span class="ajaxedit" data-id="{{ product.id}}" data-field="title" data-tdtype="edit">{{ product.title }}</span></td>
                            <td class="center">{{ product.category.title}}</td>
                            <td class="center">{{ product.brand.title}}</td>
                            <td class="center">{{ product.user.username }}</td>
                            <td class="center">{{ product.modified|date('Y-m-d H:i:s') }}</td>
                            <td class="center">
                                <div class="btn-group btn-group-xs">
                                    {% if status != 'publish' %}
                                    <button class="btn btn-default iConfirm" data-uri="{{ path('product_publish', {'id': product.id}) }}" data-acttype="ajax" data-title="发布 {{ product.title}}" data-id="product" data-msg="确认将发布 {{ product.title }} 吗？" title="发布信息">
                                        <i class="fa fa-reply text-primary"></i>
                                    </button>
                                    {% else %}
                                     <a href="{{ path('supply_add', {'productId': product.id}) }}" class="btn btn-default" title="添加供应库" target="_blank">
                                        <i class="fa fa-plus text-primary"></i>
                                    </a>
                                    {% endif %}
                                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-success" title="编辑信息">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <button class="btn btn-danger iConfirm" data-uri="{{ path('product_delete', {'id': product.id}) }}" data-acttype="ajax" data-title="删除 {{ product.title}}" data-id="product" data-msg="确认将记录 {{ product.title }} 移动到回收站吗？" title="移动回收站">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<h4 class="innerAll margin-none border-bottom">商品列表</h4>
<!-- col-table-row -->
<div class="col-table-row">
    <!-- col-app -->
    <div class="col-app col-unscrollable">
        <!-- col-app -->
        <div class="col-app">
            <ul class="list-group list-group-1 margin-none borders-none">
                <li class="list-group-item {% if status == 'publish' and categoryId  == 0 %}active{% endif %}"><a href="{{ path('product_admin', {'status': 'publish'}) }}">已发布</a></li>
                {% for category in categories %}
                <li class="list-group-item {% if categoryId == category.id %}active{% endif %}" style="text-indent:{{ category.count *20}}px;">
                    <a href="{{ path('product_admin', {'cid': category.id}) }}">
                        {% if category.count == 1 %}| -- {% endif %}{{ category.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <ul class="list-group list-group-1 margin-none borders-none">
                <li class="list-group-item {% if status == 'draft' %}active{% endif %}"><a href="{{ path('product_admin', {'status': 'draft'}) }}">草稿箱</a></li>
                <li class="list-group-item {% if status == 'trash' %}active{% endif %}"><a href="{{ path('product_admin', {'status': 'trash'}) }}">回收站</a></li>
                <li class="list-group-item {% if currentRoute == 'product_category' %}active{% endif %}"><a href="{{ path('product_category') }}">栏目管理</a></li>
            </ul>
        </div>
        <div class="col-separator-h"></div>
        <a href="{{ path('product_add') }}"><h4 class="innerAll margin-none border-bottom"><i class="fa fa-edit"></i> 发布商品</h4></a>
        <!-- // END col-app -->
    </div>
    <!-- // END col-app -->
</div>
<!-- // END col-table-row -->
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/components/plugins/artDialog/skins/default.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/components/modules/admin/notifications/gritter/assets/lib/css/jquery.gritter.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/components/plugins/form/jquery.form.js') }}"></script>
    <script src="{{ asset('assets/components/plugins/artDialog/jquery.artDialog.min.js') }}"></script>
    <script src="{{ asset('assets/components/modules/admin/notifications/gritter/assets/lib/js/jquery.gritter.min.js') }}"></script>
    <script src="{{ asset('assets/components/modules/admin/notifications/gritter/assets/custom/js/gritter.init.js') }}"></script> 
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).ready(function() {
    $('.iTablelist').listTable();
});
</script>
{% endblock %}