{% set currentRoute = app.request.attributes.get('_route') -%}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7 footer-sticky navbar-sticky"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8 footer-sticky navbar-sticky"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 footer-sticky navbar-sticky"> <![endif]-->
<!--[if gt IE 8]> <html class="ie footer-sticky navbar-sticky"> <![endif]-->
<!--[if !IE]><!-->
<html class="footer-sticky navbar-sticky">
<!-- <![endif]-->
<head>
    {% set pageTitle = page_title() %}
    <title>{% if pageTitle is not null %}{{ pageTitle }} - 众来邦{% else %}众来邦 - 英摩卡女装{% endif %}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    {% if keywords is defined %}
        <meta name="keywords" content="{{ keywords }}" />
    {% endif %}
    {% if description is defined %}
        <meta name="description" content="{{ description }}" />
    {% endif %}
    <link href="{{ asset('statics/images/cart.png') }}" rel="icon" />
    <!--[if lt IE 9]><link rel="stylesheet" href="{{ asset('assets/components/library/bootstrap/css/bootstrap.min.css') }}" /><![endif]-->
    <link rel="stylesheet" href="{{ asset('assets/less/admin/layout_fixed.css') }}" />
    {% block stylesheets %}{% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ asset('assets/components/core/js/html5shiv.js') }}"></script>
      <script src="{{ asset('assets/components/core/js/respond.js') }}"></script>
    <![endif]-->

    <script src="{{ asset('assets/components/library/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/components/library/jquery/jquery-migrate.min.js') }}"></script>
    <script src="{{ asset('assets/components/library/modernizr/modernizr.js') }}"></script>
    <script src="{{ asset('assets/components/modules/admin/charts/flot/assets/lib/excanvas.js') }}"></script>
    <script src="{{ asset('assets/components/plugins/browser/ie/ie.prototype.polyfill.js') }}"></script>
    {% block header %}{% endblock %}
    <script>
        if ( /*@cc_on!@*/ false && document.documentMode === 10) {
            document.documentElement.className += ' ie ie10';
        }
    </script>
</head>
<body class=" menu-right-hidden">
    <!-- Main Container Fluid -->
    <div class="container-fluid menu-hidden">

        <!-- Content -->
        <div id="content">

            <div id="menu-top" class="menu-top-inverse">
                <div class="container">
                    {% include ':Layout:menu_top.html.twig' %}
                </div>
            </div>

            {% block navbar %}
            <div class="navbar hidden-print main navbar-default" role="navigation">
                <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">导航切换</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a id="logo" href="{{ path('home') }}" class="animated fadeInDown pull-left">
                            <img src="{{ asset('statics/images/logo.png') }}" alt="" class="img-clean">
                        </a>
                    </div>

                    {% include ':Layout:navbar.html.twig' %}

                </div>
            </div>
            <!-- // END navbar -->
            {% endblock %}
            <div class="layout-app">
                <div class="container">
                    <!-- row -->
                    <div class="row row-app">
                        {% block body %}{% endblock %}
                    </div>
                    <!-- // END row -->
                </div>
            </div>

       </div>
        <!-- // Content END -->

        <div class="clearfix"></div>
        <!-- // Sidebar menu & content wrapper END -->

        <!-- Footer -->
        <div id="footer" class="hidden-print">

            <!--  Copyright Line -->
            <div class="copy">&copy; 2012 - 2014 -
                <a href="http://www.mosaicpro.biz">MosaicPro</a>- All Rights Reserved.
                <a href="http://themeforest.net/?ref=mosaicpro" target="_blank">Purchase CORAL on ThemeForest</a>- Current version: v1.9.6 /
                <a target="_blank" href="">changelog</a>
            </div>
            <!--  End Copyright Line -->

        </div>
        <!-- // Footer END -->


    </div>
    <!-- // Main Container Fluid END -->

    <script src="{{ asset('assets/components/library/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/components/plugins/nicescroll/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ asset('assets/components/plugins/breakpoints/breakpoints.js') }}"></script>
    <script src="{{ asset('assets/components/plugins/preload/pace/pace.min.js') }}"></script>
    <script src="{{ asset('assets/components/core/js/preload.pace.init.js') }}"></script>
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('assets/components/core/js/base.js') }}"></script>
    <script src="{{ asset('assets/components/core/js/core.init.js') }}"></script>
    <script src="{{ asset('assets/components/core/js/animations.init.js') }}"></script>

    {% block footer %}{% endblock %}
</body>
</html>