{% extends ':Layout:layout.html.twig' %}

{% block main %}
<!-- col -->
<div class="col-md-2 col-sm-3">
    <!-- col-separator -->
    <div class="col-separator col-separator-first box col-unscrollable">
        <!-- col-table -->
        <div class="col-table">
            {% block sidebar %}{% endblock %}
        </div>
        <!-- // END col-table -->
    </div>
    <!-- // END col-separator.box -->
</div>
<!-- // END col -->

<!-- col -->
<div class="col-md-10 col-sm-9">
    <!-- col-separator.box -->
    <div class="col-separator col-unscrollable box">
        {% block content %}{% endblock %}
    </div>
    <!-- // END col-separator.box -->
</div>
<!-- // END col -->
{% endblock %}