{% extends ':Layout:base.html.twig' %}

{% block body %}
{% block breadcrumbs %}
<div class="col-md-12 animated fadeInDown">
    <div class="col-separator col-separator-first col-unscrollable">
        <!-- breadcrumb -->
        {{ render_breadcrumbs() }}
        <!-- // END breadcrumb -->

        <!-- Alert -->
        {% from ':Macros:flash.html.twig' import flash %}
        {% if app.session.flashbag|length %}
            {% for level, flashMessage in app.session.flashbag %}
                {{ flash(level, flashMessage, true) }}
            {% endfor %}
        {% endif %}
        <!-- // Alert END -->
    </div>
    <div class="col-separator-h"></div>
</div>
{% endblock %}
{% block notification %}
<div class="col-md-12 animated fadeInDown">
    <div class="col-separator col-separator-first col-unscrollable">
        <div id="notification">
<!--            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Warning!</strong> Best check yo self, you're not looking
                too good.
            </div>-->
        </div>
    </div>
</div>
{% endblock %}

{% block main %}{% endblock %}

{% block bottom_ad %}
<div class="col-md-12 animated fadeInDown">
        <div class="innerAll">
            <p class="hidden-xs"><img width="1150" alt="" src="{{ asset('statics/images/banner-mass-bottom.jpg') }}" /></p>
        </div>
        <div class="col-separator-h"></div>

</div>
{% endblock %}

{% endblock %}