                    <ul class="main pull-left">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">
                                <i class="fa fa-fw fa-user"></i>{{ app.user.screenName }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('account_home') }}" class="no-ajaxify">会员中心</a>
                                </li>
                                <li>
                                    <a href="{{ path('profile_edit') }}" class="no-ajaxify">查看资料</a>
                                </li>
                                <li class="active">
                                    <a href="{{ path('logout') }}" class="no-ajaxify"><i class="fa fa-fw fa-power-off"></i>退出登录</a>                                    
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="{{ path('login') }}">
                                <i class="fa fa-fw fa-user"></i>登录
                            </a>
                        </li>
                       <li class="dropdown">
                            <a class="dropdown-toggle" href="{{ path('register') }}">
                                <i class="fa fa-fw fa-user"></i>注册会员
                            </a>
                        </li>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">
                                <i class="fa fa-fw fa-question-circle"></i>会员管理
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('home') }}">配货方式</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">
                                <i class="fa fa-fw fa-question-circle"></i>商品管理
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('product_admin') }}">商品列表</a></li>
                                <li><a href="{{ path('product_admin', {'status': 'draft'}) }}">草稿箱</a></li>
                                <li><a href="{{ path('product_admin', {'status': 'trash'}) }}">回收站</a></li>
                                <li><a href="{{ path('product_category') }}">栏目管理</a></li>
                                <li><a href="{{ path('product_add') }}">发布商品</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">
                                <i class="fa fa-fw fa-question-circle"></i>商城管理
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('mall_admin') }}">商城列表</a></li>
                                <li><a href="{{ path('mall_admin', {'status': 'draft'}) }}">草稿箱</a></li>
                                <li><a href="{{ path('mall_admin', {'status': 'trash'}) }}">回收站</a></li>
                                <li><a href="{{ path('mall_category') }}">栏目管理</a></li>
                                <li><a href="{{ path('mall_add') }}">添加商城</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">
                                <i class="fa fa-fw fa-question-circle"></i>品牌管理
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('brand_admin') }}">品牌列表</a></li>
                                <li><a href="{{ path('brand_admin', {'status': 'draft'}) }}">草稿箱</a></li>
                                <li><a href="{{ path('brand_admin', {'status': 'trash'}) }}">回收站</a></li>
                                <li><a href="{{ path('brand_add') }}">发布品牌</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">
                                <i class="fa fa-fw fa-question-circle"></i>系统设置
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('cache_admin') }}">缓存管理</a></li>
                                <li><a href="{{ path('shipping_admin') }}">配货方式</a></li>
                                <li><a href="{{ path('payment_admin') }}">支付方式</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">
                                <i class="fa fa-fw fa-question-circle"></i>常见问题
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="">如何使用支持宝支付</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">
                                <i class="fa fa-fw fa-shopping-cart"></i>购物车
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="">没有宝贝</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown hidden-xs">
                            <a class="dropdown-toggle" href="">
                                <i class="fa fa-fw fa-jpy"></i>立即结算
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="main pull-right visible-lg">
                        <li id="cart" class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">
                                <i class="fa fa-fw fa-shopping-cart"></i>购物车
                                <span id="cart-total"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu  pull-right">
                                <li>
					        <a class="pull-left" href="#"><img class="media-object thumb animated fadeInDown" src="{{ asset('assets/images/people/100/15.jpg') }}" alt="50x50" width="50" style="visibility: visible;"></a>
							<div class="media-body">
					        	<span class="label label-default pull-right">5 min</span>
					            <h5 class="media-heading">Adrian D.</h5>
					            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					        </div>
                                </li>
                            </ul>
                        </li>
                    </ul>