
                    <div class="navbar-collapse collapse">
                        <ul class="notifications nav navbar-nav">
                           <li class="dropdown dropdown-light">
                                <a href="" class="dropdown-toggle"><i class="fa fa-fw fa-user"></i>首页</a>
                            </li>
                            <li class="dropdown dropdown-light active">
                                <a href="" data-toggle="dropdown" class="dropdown-toggle">上装
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu pull-left">
                                    <li class="dropdown dropdown-light dropdown-submenu">
                                        <a href="" class="glyphicons dashboard">
                                            <i></i>
                                            <span>T恤</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-bar-chart-o"></i>
                                                    <span>长袖T恤</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-user"></i>
                                                    <span>短袖T恤</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-dashboard"></i>
                                                    <span>文化衬衫</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="active">
                                        <a href="">
                                            <i class="fa fa-ticket"></i>
                                            <span>衬衫</span>
                                        </a>
                                    </li>

                                    <li class="dropdown dropdown-light dropdown-submenu">
                                        <a href="" class="glyphicons plus">
                                            <i></i>
                                            <span>其他</span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-bottom">
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-download"></i>下装</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-light">
                                <a href="" data-toggle="dropdown" class="dropdown-toggle">大码童装
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu pull-left">
                                    <li>
                                        <a href="" class="glyphicons show_big_thumbnails" target="_blank">
                                            <i></i>
                                            <span>上衣</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="glyphicons shopping_cart" target="_blank">
                                            <i></i>
                                            <span>裤子</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="glyphicons home" target="_blank">
                                            <i></i>
                                            <span>可爱袜子</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-light">
                                <a href="" class="dropdown-toggle"><i class="fa fa-fw fa-user"></i>客服中心</a>
                            </li>
                            <li class="dropdown dropdown-light">
                                <a href="" class="dropdown-toggle"><i class="fa fa-fw fa-user"></i>资讯</a>
                            </li>
                        </ul>

                        <div class="user-action visible-xs user-action-btn-navbar pull-right">
                            <button class="btn btn-sm btn-navbar-right btn-primary btn-stroke">
                                <i class="fa fa-fw fa-arrow-right"></i>
                                <span class="menu-left-hidden-xs">Modules</span>
                            </button>
                        </div>

                        <div class="col-md-3 visible-md visible-lg pull-right padding-none">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" placeholder="Search stories ...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </div>

<!--
                        <div class="user-action pull-right menu-right-hidden-xs menu-left-hidden-xs hidden-xs">
                            <div class="dropdown dropdown-icons padding-none">
                                <a data-toggle="dropdown" href="#" class="btn btn-primary btn-circle dropdown-toggle">
                                    <i class="fa fa-user"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li data-toggle="tooltip" data-title="Photo Gallery" data-placement="left" data-container="body">
                                        <a href="gallery_photo.html?lang=en">
                                            <i class="fa fa-camera"></i>
                                        </a>
                                    </li>
                                    <li data-toggle="tooltip" data-title="Tasks" data-placement="left" data-container="body">
                                        <a href="tasks.html?lang=en">
                                            <i class="fa fa-code-fork"></i>
                                        </a>
                                    </li>
                                    <li data-toggle="tooltip" data-title="Employees" data-placement="left" data-container="body">
                                        <a href="employees.html?lang=en">
                                            <i class="fa fa-group"></i>
                                        </a>
                                    </li>
                                    <li data-toggle="tooltip" data-title="Contacts" data-placement="left" data-container="body">
                                        <a href="contacts_2.html?lang=en">
                                            <i class="fa fa-phone-square"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
-->

                        <ul class="notifications pull-right hidden-xs">
                            <li class="dropdown notif">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="notif-block fa fa-comments-o"></i>
                                    <span class="badge badge-primary">7</span>
                                </a>
                                <ul class="dropdown-menu chat media-list">
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object thumb" src="{{ asset('assets/images/people/100/15.jpg') }}" alt="50x50" width="50" />
                                        </a>
                                        <div class="media-body">
                                            <span class="label label-default pull-right">5 min</span>
                                            <h5 class="media-heading">Adrian D.</h5>
                                            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object thumb" src="{{ asset('assets/images/people/100/16.jpg') }}" alt="50x50" width="50" />
                                        </a>
                                        <div class="media-body">
                                            <span class="label label-default pull-right">2 days</span>
                                            <h5 class="media-heading">Jane B.</h5>
                                            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object thumb" src="{{ asset('assets/images/people/100/17.jpg') }}" alt="50x50" width="50" />
                                        </a>
                                        <div class="media-body">
                                            <span class="label label-default pull-right">3 days</span>
                                            <h5 class="media-heading">Andrew M.</h5>
                                            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-primary">
                                            <i class="fa fa-list"></i>
                                            <span>查看所有消息</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>