<div class="col-md-12 animated fadeInDown">
    <div class="innerTB">
        <form name="sku" method="post" action="{{ path('sku_add', {'productId': productId}) }}" id="sku">
        <table class="table table-hover table-bordered table-condensed">
            <thead>
                <tr>
                    <th>标签</th>
                    <th>{{ product.sku1 }}</th>
                    {% if product.sku2 %}<th>{{ product.sku2 }}</th>{% endif %}
                    <th>进货价</th>
                    <th>库存量</th>
                    <th style="width: 200px;">供应商</th>
                    <th style="width: 80px;">删除</th>
                </tr>
            </thead>
            <tbody  id="rec_hidden" class="hidden">
                <tr id='rec_@a'>
                    <td><input type="text" id="sku_name_@a" name="skus[sku][@a][name]" placeholder="商品的子标签" class="form-control"></td>
                    <td><input type="text" id="sku_sku_1_@a" name="skus[sku][@a][sku_1]" placeholder="{{ product.sku1 }}" class="form-control"></td>
                    {% if product.sku2 %}<td><input type="text" id="sku_sku_2_@a" name="skus[sku][@a][sku_2]" placeholder="{{ product.sku2 }}" class="form-control"></td>{% endif %}
                    <td><input type="text" id="sku_buiingPrice_@a" name="skus[sku][@a][buiingPrice]" class="form-control" value="{{ product.buiingPrice }}"></td>
                    <td><input type="text" id="sku_stock_@a" name="skus[sku][@a][stock]" class="form-control" value="{{ product.stock }}"></td>
                    <td>
                        <select id="sku_supplyId_@a" name="skus[sku][@a][supplyId]" class="form-control">
                            <option value="">--请选择供应商--</option>
                        {% for id,supply in supplies %}
                            <option value="{{ id}}" {%if supplyId == id %}selected="selected"{% endif %}>{{ supply }}</option>
                        {% endfor %}
                        </select>
                    </td>
                    <td><a title="关闭" class="icon-remove" href="javascript:;" onclick="recordaction.del('rec_@a')"><i class="fa fa-times text-danger"></i></a></td>
                </tr>
            </tbody>
            <tbody  id="rec">
                <tr id='rec_1'>
                    <td><input type="text" id="sku_name_1" name="skus[sku][1][name]" placeholder="商品的子标签" class="form-control"></td>
                    <td><input type="text" id="sku_sku_1_1" name="skus[sku][1][sku_1]" placeholder="{{ product.sku1 }}" class="form-control"></td>
                    {% if product.sku2 %}<td><input type="text" id="sku_sku_2_1" name="skus[sku][1][sku_2]" placeholder="{{ product.sku2 }}" class="form-control"></td>{% endif %}
                    <td><input type="text" id="sku_buiingPrice_1" name="skus[sku][1][buiingPrice]" class="form-control" value="{{ product.buiingPrice }}"></td>
                    <td><input type="text" id="sku_stock_1" name="skus[sku][1][stock]" class="form-control" value="{{ product.stock }}"></td>
                    <td>
                        <select id="sku_supplyId_1" name="skus[sku][1][supplyId]" class="form-control">
                            <option value="">--请选择供应商--</option>
                        {% for id,supply in supplies %}
                            <option value="{{ id}}" {%if supplyId == id %}selected="selected"{% endif %}>{{ supply }}</option>
                        {% endfor %}
                        </select>
                    </td>
                    <td><a title="关闭" class="icon-remove" href="javascript:;" onclick="recordaction.del('rec_1')"><i class="fa fa-times text-danger"></i></a></td>
                </tr>
            </tbody>
            
        </table>
        </form>
        <span><a href="javascript:;" id="insert1" onClick="recordaction.insert();" class="btn btn-primary"><span>增加一条</span></a></span>
    </div>
</div>
<script type="text/javascript">
    function _id(id) {
        return !id ? null : document.getElementById(id);
    }
    var recordaction = {
        index:0,
        l:$('#rec').children().length,
        //插入一行并将索引I清零（避免check函数失效)
        insert:function(){
            this.l++;
            var node = _id('rec_hidden').rows[0].innerHTML;
            var s = node.replace(/\@a/g,this.l);
            var domtr ="<tr id=rec_"+this.l+">"+s+"</tr>"; 
            $('#rec').append(domtr);
        },
        //删除dom并重置trID
        del:function(D){
            $('#'+D).remove();
        }
    }

</script>