{% form_theme form ':Form:fields.html.twig' %}

<div class="col-md-12 animated fadeInDown">
    <div class="innerTB">
        {{ form_start(form, {'action': path('sku_edit', {'id': id}), 'attr': {'id': 'sku' }}) }}
            <div class="form-group margin-none innerB">
                <div class="col-sm-2 control-label">
                    <label for="brand_category">{{ form_label(form.supplyId) }}</label>
                </div>
                <div class="col-sm-6">
                    {{ form_widget(form.supplyId) }}
                    <select id="{{ form.supplyId.vars.id }}" name="{{ form.supplyId.vars.full_name }}" class="form-control">
                        <option value="">--请选择供应商--</option>
                    {% for id,supply in supplies %}
                        <option value="{{ id}}" {%if supplyId == id %}selected="selected"{% endif %}>{{ supply }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4"></div>
            </div>
            {{ form_row(form.sku_1, {'label': product.sku1}) }}
            {{ form_row(form.sku_2, {'label': product.sku2}) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>