{% extends 'AdminBundle::layout.html.twig' %}

{% form_theme form ':Form:fields.html.twig' %}

{% block main %}
<div class="col-md-12 animated fadeInDown">
    <div class="col-separator box col-separator-first col-unscrollable">
        <div class="col-table">
            <h4 class="innerAll border-bottom margin-none">新增商城</h4>
            <div class="col-table-row">
                <div class="col-app col-unscrollable">
                    <div class="col-app animated fadeInDown">
                        <div class="innerAll">
                            {{ form_start(form, {'action': path('mall_edit', {'id': id}), 'attr': {'class': 'form-horizontal', 'id': 'mall' }}) }}
                            <div class="form-group margin-none innerB">
                                <div class="col-sm-2 control-label">
                                    <label for="mall_category">所属栏目</label>
                                </div>
                                <div class="col-sm-6">
                                    <select id="mall_category" name="category" class="form-control" data-id="mall_categoryId" data-uri="{{ path('category_childs', {'module': 'mall'}) }}" data-pid="0" data-selected="{{ arrParent.category }}"></select>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="form-group margin-none innerB">
                                <div class="col-sm-2 control-label">
                                    <label for="mall_category">所属区域</label>
                                </div>
                                <div class="col-sm-6">
                                    <select id="mall_area" name="area" class="form-control" data-id="mall_areaId" data-uri="{{ path('area_childs') }}" data-pid="1" data-selected="{{ arrParent.area }}"></select>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                                {{ form_widget(form) }}
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/components/common/forms/editors/wysihtml5/assets/lib/js/wysihtml5-0.3.0_rc2.min.js') }}"></script>
    <script src="{{ asset('assets/components/common/forms/editors/wysihtml5/assets/lib/js/bootstrap-wysihtml5-0.0.2.js') }}"></script>
    <script src="{{ asset('assets/components/common/forms/editors/wysihtml5/assets/custom/wysihtml5.init.js') }}"></script>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).ready(function() {
    //分类联动
    $('#mall_area').iSelect();
    $('#mall_category').iSelect();
});
</script>
{% endblock %}