{% block subject %}【英摩卡】电子邮件地址验证{% endblock %}

{% block body %}
    你好 {{ user.screenName }} !

    您可以访问如下链接以验证您的电子邮件地址： {{ url('account_confirm', {'token': user.confirmationToken}) }}

    -------------------------
    英摩卡 - HunanZlb.com
{% endblock %}