{% block subject %}【英摩卡】重置密码{% endblock %}

{% block body %}
    你好 {{ user.screenName }} !

    您可以访问如下链接以重置您的密码： {{ url('account_recovery_check', {'token': user.confirmationToken}) }}

    -------------------------
    英摩卡 - HunanZlb.com
{% endblock %}