{% extends '::left.html.twig' %}

{% block content %}
<h1>{{ mall.title }}</h1>
<div class="category-info clearfix">
   <div class="image">
       <img src="{{ asset('statics/images/demo/img-blog5-900x350w.jpg') }}" alt="Mac" />
   </div>
   <div class="description">
       <p>{{ mall.description }}</p>
       <ul class="list-inline">
           <li><span class="fa fa-clock-o">时间:</span> {{ mall.modified|date('Y-m-d') }}</li>
           <li><span class="fa fa-eye">address:</span> {{ mall.address }}</li>
           <li><span class="fa fa-comments">栏目:</span> {{ mall.category.title }}</li>
       </ul>
   </div>
</div>
<div class="category-list clearfix">
   {{ mall.content }}
</div>
{% endblock %}

{% block sidebar %}
                        <div class="box">
                            {{ render(controller('CommonBundle:Widget:CategoryList', {'route': 'mall_list', 'categoryId': 13, 'categories': categories})) }}
                        </div>
{% endblock %}