/* layout */
#content {
	zoom: 1;
}
/* header */
#header {
	z-index: 99;
}
#header .button-search {
	z-index: 16;
	top: 2px;
	width: 30px;
}
#header #search input {
	margin-top: 1px;
	width: 255px;
	position: relative;
	left: 4px;
}
#header #cart {
	right: -40px;
	width: 400px;
	z-index: 11;
	zoom: 1;
}
#header #cart.active .heading {
	z-index: 13;
}
#header #cart.active .content {
	height: 150px;
	z-index: 12;
}
/* menu */
#menu ul li {
	position: relative;
	float: left;
	z-index: 5;
}
#menu ul li.active {
	background: #000;
}
#menu ul li a {
	font-size: 13px;
	color: #FFF;
	text-decoration: none;
	display: block;
	padding: 12px 15px 11px 15px;
	z-index: 6;
	position: relative;
}
#menu ul li div {
	display: none;
	background: #FFFFFF;
	position: absolute;
	z-index: 5;
	padding: 5px;
	border: 1px solid #000000;
	background: url('../images/menu.png');
}
#menu ul li.active div {
	display: block;
}
#menu ul li div li {
	float: none;
}
#menu ul li div li a {
	font-size: 12px;
	text-decoration: none;
	padding: 4px;
	color: #FFFFFF;
	display: block;
	width: 120px;
	white-space: normal;
}
#menu ul li div li a:hover {
	background: #000000;
}
.success, .warning, .attention, .information {
	position: relative;
}
.success .close, .warning .close, .attention .close, .information .close {
	position: absolute;
	right: 10px;
}
.buttons {
	zoom: 1;
}
/* box category */
.box-category {
	margin-top: -5px;
	zoom: 1;
}
.box-category ul li {
	padding: 8px 8px 8px 0px;
	border-top: 1px solid #EEEEEE;
}
.box-category ul li a, .box-category ul li a:visited {
	text-decoration: none;
	color: #333;
}
.box-category ul li ul {
	display: none;
}
.box-category ul li a.active {
	font-weight: bold;
}
.box-category ul li ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-category ul li ul li {
	zoom: 1;
	padding: 5px 5px 0px 10px;
	border-top: 0;
}
.box-category ul li ul li a, .box-category ul li ul li a:visited {
	color: #38B0E3;
	text-decoration: none;
	display: block;
}
.box-category ul li ul li a.active {
	font-weight: bold;
}
.box-product {
	width: 100%;
	overflow: auto;
	zoom: 1;
}
.box-product div {
	width: 116px;
	vertical-align: top;	
	zoom: 1;
	display: inline;
	margin-right: 35px;
	margin-bottom: 15px;
}
.box-product div div {
	zoom: 0;
	float: none;
	margin-right: 0px;
	margin-bottom: 0px;
}
#content .content {
	zoom: 1;
}
.category-info {
	zoom: 1;
}
.category-list {
	zoom: 1;
}
.category-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 25%;
}
/* manufacturer */
.manufacturer-list {
	zoom: 1;
}
/* product list */
.product-filter {
	zoom: 1;
}
.product-list div {
	zoom: 1;
}
.product-list div div {
	zoom: 0;
}
/* product grid */
.product-grid {
	width: auto;
}
.product-grid div {
	width: 116px;
	vertical-align: top;	
	zoom: 1;
	display: inline;
	margin-right: 35px;
	margin-bottom: 15px;
}
.product-grid div div {
	zoom: 0;
	float: none;
	margin-right: 0px;
	margin-bottom: 0px;
}
/* Product */
.product-info {
	zoom: 1;
}
.product-info .left {
	zoom: 1;
	float: left;
	margin-right: 15px;
}
.product-info .left + .right {
	zoom: 1;
	margin-left: 265px;
}
.product-info .right {
	zoom: 1;
	margin-left: 265px;
}
.product-info .image-additional {
	width: 270px;
	margin-left: -20px;
}
.product-info .price {
	zoom: 1;
}
.product-info .cart {
	zoom: 1;
}
.product-info .review {
	zoom: 1;
}
.product-info .review div {
	zoom: 1;
	padding: 8px;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;
}
.product-info .review div div {
	zoom: 0;
	border-bottom: 0;
	line-height: normal;
}
.product-info .review .share {
	zoom: 1;
}
.htabs {
	zoom: 1;
	margin-bottom: -1px;
}
.htabs a:visited {
	text-decoration: none;
	color: #000000;
}
.tab-content {
	zoom: 1;
}
/* footer */ 
#footer {
	zoom: 1;
}
