{% form_theme form ':Form:fields.html.twig' %}

<div class="col-md-12 animated fadeInDown">
    <div class="innerTB">
        {{ form(form, {'action': path('shipping_edit', {'id': id}), 'attr': {'class': 'form-horizontal', 'id': 'shipping' }}) }}
    </div>
</div>