{% extends 'AdminBundle::layout.html.twig' %}

{% block main %}
<div class="col-md-12 animated fadeInDown">
    <div class="col-separator box col-separator-first col-unscrollable">
        <div class="col-table">
            {% block tabs %}
                {{ parent() }}
            {% endblock %}
            <div class="heading-buttons innerLR border-bottom">
                <h4 class="margin-none pull-left innerTB">配送方式</h4>
                <div class="btn-group btn-group-xs pull-right">
                    <button class="btn btn-default">
                        <a href="javascript:;" class="iDialog" data-uri="{{ path('shipping_add') }}" data-title="添加配送方式" data-id="shipping"><i class="fa fa-edit"></i>添加配送方式</a>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-table-row">
                <div class="col-app col-unscrollable">
                    <div class="col-app animated fadeInDown">
                        <div class="innerAll">

                            <table class="iTablelist table table-bordered table-primary" data-acturi="{{ path('shipping_ajaxedit') }}">
                                <thead>
                                    <tr>
                                        <th class="center">配送方式名称</th>
                                        <th class="center">配送方式代号</th>
                                        <th class="center">状态</th>
                                        <th class="center">费用</th>
                                        <th class="center">配送方式介绍</th>
                                        <th class="center">排序</th>
                                        <th class="center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for shipping in shippings %}
                                    <tr>
                                        <td class="center"><span class="ajaxedit" data-id="{{ shipping.id}}" data-field="title" data-tdtype="edit">{{ shipping.title}}</span></td>
                                        <td class="center"><span class="ajaxedit" data-id="{{ shipping.id}}" data-field="name" data-tdtype="edit">{{ shipping.name}}</span></td>
                                        <td class="center">
                                            <span data-id="{{ shipping.id}}" data-field="enabled" data-value="{{ shipping.enabled}}" data-tdtype="toggle"><i class="fa {% if shipping.enabled %}fa-eye{%else%}fa-eye-slash{%endif%}"></i></span>
                                        </td>
                                        <td class="center"><span class="ajaxedit" data-id="{{ shipping.id}}" data-field="insure" data-tdtype="edit">{{ shipping.insure}}</span></td>
                                        <td>
                                            <a href="javascript:;" data-toggle="tooltip" title="" data-original-title="{{ shipping.description}}">{{ shipping.description|substring(30)}}</a>
                                        </td>
                                        <td class="center"><span class="ajaxedit" data-id="{{ shipping.id}}" data-field="sortOrder" data-tdtype="edit">{{ shipping.sortOrder}}</span></td>
                                        <td class="center">
                                            <a href="javascript:;" class="iDialog" data-uri="{{ path('shipping_edit', {'id': shipping.id}) }}" data-title="编辑 {{ shipping.title}}" data-id="shipping">编辑</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('.iTablelist').listTable();
});
</script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/components/plugins/artDialog/skins/default.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/components/modules/admin/notifications/gritter/assets/lib/css/jquery.gritter.css') }}" />
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/components/plugins/form/jquery.form.js') }}"></script>
    <script src="{{ asset('assets/components/plugins/artDialog/jquery.artDialog.min.js') }}"></script>
    <script src="{{ asset('assets/components/modules/admin/notifications/gritter/assets/lib/js/jquery.gritter.min.js') }}"></script>
    <script src="{{ asset('assets/components/modules/admin/notifications/gritter/assets/custom/js/gritter.init.js') }}"></script> 
{% endblock %}