{% extends 'AccountBundle::layout.html.twig' %}

{% form_theme form ':Form:fields.html.twig' %}

{% block content %}
<div class="heading-buttons innerLR border-bottom">
    <h4 class="margin-none pull-left innerTB">编辑地址</h4>
    <div class="clearfix"></div>
</div>
<div class="innerAll">
    {{ form_start(form, {'action': path('location_edit', {'id': id}), 'attr': {'class': 'form-horizontal', 'id': 'location' }}) }}
        <div class="form-group margin-none innerB">
            <div class="col-sm-2 control-label">
                <label for="location_area">所属区域</label>
            </div>
            <div class="col-sm-6">
                <select id="location_area" name="area" class="form-control" data-id="location_areaId" data-uri="{{ path('area_childs') }}" data-pid="1" data-selected="{{ arrParent }}"></select>
            </div>
            <div class="col-sm-4"></div>
        </div>
        {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).ready(function() {
    //分类联动
    $('#location_area').iSelect();
});
</script>
{% endblock %}