{% extends 'AccountBundle::layout.html.twig' %}

{% block content %}
<div class="heading-buttons innerLR border-bottom">
    <h4 class="margin-none pull-left innerTB">地址库</h4>
    <div class="btn-group btn-group-xs pull-right">
        <button class="btn btn-default">
            {% if count < 20 %}            
            <a href="{{ path('location_add') }}"><i class="fa fa-edit"></i>添加地址</a>
            {% else %}
            地址已满20个，请先删除当前地址
            {% endif %}
        </button>
    </div>
    <div class="clearfix"></div>
</div>
<div class="innerAll">
    <table class="iTablelist table table-bordered table-primary" data-acturi="{{ path('location_ajaxedit') }}">
        <thead>
            <tr>
                <th class="center">首选</th>
                <th class="center">联系人/公司</th>
                <th class="center">所在地区</th>
                <th class="center">地址/邮政编码</th>
                <th class="center">电话/手机</th>
                <th class="center">邮箱</th>
                <th class="center">备注</th>
                <th class="center">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr>
                <td class="center">
                    <span data-id="{{ location.id}}" data-field="defaulted" data-value="{{ location.defaulted}}" data-tdtype="toggle"><i class="fa {% if location.defaulted %}fa-eye{%else%}fa-eye-slash{%endif%}"></i></span>
                </td>
                <td class="center">
                    <span class="ajaxedit" data-id="{{ location.id}}" data-field="contact" data-tdtype="edit">{{ location.contact }}</span><br />
                    <span class="ajaxedit" data-id="{{ location.id}}" data-field="company" data-tdtype="edit">{{ location.company }}</span>
                </td>
                <td class="center">{{ location.area.name }}</td>
                <td class="center">
                    <span class="ajaxedit" data-id="{{ location.id}}" data-field="address" data-tdtype="edit">{{ location.address }}</span><br />
                    <span class="ajaxedit" data-id="{{ location.id}}" data-field="zipCode" data-tdtype="edit">{{ location.zipCode }}</span>
                </td>
                <td class="center">
                    <span class="ajaxedit" data-id="{{ location.id}}" data-field="phone" data-tdtype="edit">{{ location.phone }}</span><br />
                    <span class="ajaxedit" data-id="{{ location.id}}" data-field="mobilePhone" data-tdtype="edit">{{ location.mobilePhone }}</span>
                </td>
                <td class="center"><span class="ajaxedit" data-id="{{ location.id}}" data-field="email" data-tdtype="edit">{{ location.email }}</span></td>
                <td class="center"><span class="ajaxedit" data-id="{{ location.id}}" data-field="memo" data-tdtype="edit">{{ location.memo }}</span></td>
                <td class="center">
                    <div class="btn-group btn-group-xs">
                        <a href="{{ path('location_edit', {'id': location.id}) }}" class="btn btn-success" title="编辑地址"><i class="fa fa-pencil"></i></a>
                        <button class="btn btn-danger iConfirm" data-uri="{{ path('location_delete', {'id': location.id}) }}" data-acttype="ajax" data-title="删除 {{ location.contact}}" data-id="location" data-msg="确认删除该地址吗？" title="删除地址">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/components/plugins/artDialog/skins/default.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/components/modules/admin/notifications/gritter/assets/lib/css/jquery.gritter.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/components/plugins/artDialog/jquery.artDialog.min.js') }}"></script>
    <script src="{{ asset('assets/components/modules/admin/notifications/gritter/assets/lib/js/jquery.gritter.min.js') }}"></script>
    <script src="{{ asset('assets/components/modules/admin/notifications/gritter/assets/custom/js/gritter.init.js') }}"></script> 
{% endblock %}


{% block footer %}
<script type="text/javascript">
$(document).ready(function() {
    //分类联动
    $('.iTablelist').listTable();
});
</script>
{% endblock %}