{% extends 'AdminBundle::layout.html.twig' %}

{% block main %}
<div class="col-md-12 animated fadeInDown">
    <div class="col-separator box col-separator-first col-unscrollable">
        <div class="col-table">
            <h4 class="innerAll border-bottom margin-none">新增品牌</h4>
            <div class="col-table-row">
                <div class="col-app col-unscrollable">
                    <div class="col-app animated fadeInDown">
                        <div class="innerAll">
                            <table class="iTablelist table table-bordered table-primary" data-acturi="{{ path('location_ajaxedit') }}">
                                <thead>
                                    <tr>
                                        <th class="center">功能</th>
                                        <th class="center">说明</th>
                                        <th class="center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">栏目修复</td>
                                        <td class="center">修复层级关系及更新缓存</td>
                                        <td class="center">
                                            <div class="btn-group btn-group-xs">
                                                <button class="btn btn-danger iConfirm" data-uri="{{ path('category_repair') }}" data-acttype="ajax" data-title="更新栏目缓存" data-id="category" data-msg="确认更新吗？" title="更新">
                                                    <i class="fa fa-refresh"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center">地址修复</td>
                                        <td class="center">修复层级关系及更新缓存</td>
                                        <td class="center">
                                            <div class="btn-group btn-group-xs">
                                                <button class="btn btn-danger iConfirm" data-uri="{{ path('category_repair') }}" data-acttype="ajax" data-title="更新栏目缓存" data-id="category" data-msg="确认更新吗？" title="更新">
                                                    <i class="fa fa-refresh"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/components/plugins/artDialog/skins/default.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/components/modules/admin/notifications/gritter/assets/lib/css/jquery.gritter.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/components/plugins/form/jquery.form.js') }}"></script>
    <script src="{{ asset('assets/components/plugins/artDialog/jquery.artDialog.min.js') }}"></script>
    <script src="{{ asset('assets/components/modules/admin/notifications/gritter/assets/lib/js/jquery.gritter.min.js') }}"></script>
    <script src="{{ asset('assets/components/modules/admin/notifications/gritter/assets/custom/js/gritter.init.js') }}"></script> 
{% endblock %}
