{% extends 'AdminBundle::layout.html.twig' %}

{% form_theme form ':Form:fields.html.twig' %}

{% block main %}
<div class="col-md-12 animated fadeInDown">
    <div class="col-separator box col-separator-first col-unscrollable">
        <div class="col-table">
            {% block tabs %}
                {{ parent() }}
            {% endblock %}
            <h4 class="innerAll border-bottom margin-none">新增配送方式</h4>
            <a href="#" data-toggle="tooltip" title="" data-original-title="Default tooltip">you probably</a>
            <div class="col-table-row">
                <div class="col-app col-unscrollable">
                    <div class="col-app animated fadeInDown">
                        <div class="innerAll">

                            {{ form(form, {'action': path('shipping_edit'), 'attr': {'class': 'form-horizontal' }}) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}