{% extends 'AccountBundle::layout.html.twig' %}

{% form_theme form ':Form:fields.html.twig' %}

{% block content %}
{% block profileNav %}
{{ parent() }}
{% endblock %}
<div class="innerAll">
     {{ form(form, {'action': path('account_change_password'), 'attr': {'class': 'form-horizontal' }}) }}
</div>
{% endblock %}