                            <div class="box category">
                                <div class="box-heading">
                                    <span>{{ categories.title }}</span>
                                </div>
                                <div class="box-content">
                                    <ul class="box-category list">
                                        {% for category in categories.son %}
                                        <li>
                                            <a href="{{ path(route, {'cate':category.name}) }}"><span class="label label-primary">{{ category.title }}</span></a>
                                            {% if category.parented %}
                                            <ul class="list-inline">
                                                {% for son in category.son %}
                                                <li><a href="{{ path(route, {'cate':son.name}) }}">{{ son.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>