                            <div class="box-heading"><span>{{ categories.title }}</span></div>
                            <div class="box-content  col-lg-12">
                                <ul class="box-category list">
                                {% for category in categories.son %}
                                    <li css="haschild">
                                        <a href="{{ path(route, {'cate':category.name}) }}"><span class="label label-primary">{{ category.title }}</span></a>
                                        {% if category.parented %}
                                        <ul class="list">
                                            {% for son in category.son %}
                                            <li class="active"><a href="{{ path(route, {'cate':son.name}) }}">{{ son.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
