                                            <div class=" col-lg-3">
                                                {% for product in products %}
                                                <div class="product-block">
                                                    <div class="image">
                                                        <a class="img" href="{{ path('product_detail', {'cate': product.category.name, 'name': product.name}) }}">
                                                            <img src="{{ product.icon }}" title="{{ product.title }}" alt="{{ product.title }}" />
                                                        </a>
                                                    </div>
                                                    <div class="product-meta">
                                                        <h3 class="name">
                                                            <a href="{{ path('product_detail', {'cate': product.category.name, 'name': product.name}) }}" title="{{ product.title }}">{{ product.title|substring(13) }}</a>
                                                        </h3>

                                                        <div class="price">
                                                            <span class="price-old">${{ product.sellingPrice }}</span>
                                                            <span class="price-new">${{ product.currentPrice }}</span>
                                                        </div>
                                                        <div class="cart pull-left">
                                                            <input type="button" value="Add to Cart" onclick="addToCart('30');" class="button" />
                                                        </div>
                                                        <div class="wishlist-compare">
                                                            <span class="wishlist">
                                                                <a class="fa fa-heart" onclick="addToWishList('30');" title="Add to Wish List">
                                                                    <span>Add to Wish List</span>
                                                                </a>
                                                            </span>
                                                            <span class="compare">
                                                                <a class="fa fa-retweet" onclick="addToCompare('30');" title="Add to Compare">
                                                                    <span>Add to Compare</span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>