                                                {% for product in products %}
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="product-block">
                                                        <div class="image">
                                                            <a class="img" href="{{ path('product_detail', {'cate': product.category.name, 'name': product.name}) }}">
                                                                <img src="{{ product.icon }}"  title="{{ product.title }}" alt="{{ product.title }}" />
                                                            </a>
                                                            <a href="{{ product.icon }}" class="related-colorbox product-zoom hidden-sm hidden-xs" rel="nofollow" title="{{ product.title}}" target="_blank">
                                                                <span class="fa fa-search-plus"></span>
                                                            </a>
                                                            <a class="pav-colorbox hidden-sm hidden-xs" href="{{ path('product_detail', {'cate': product.category.name, 'name': product.name, 'preview': 1}) }}">
                                                                <span class='fa fa-eye'></span>快速预览</a>
                                                        </div>
                                                        <div class="product-meta">
                                                            <h3 class="name">
                                                                <a href="{{ path('product_detail', {'cate': product.category.name, 'name': product.name}) }}">{{ product.title|substring(15) }}</a>
                                                            </h3>

                                                            <div class="price">${{ product.sellingPrice }}</div>
                                                            <!--<div class="rating">
                                                                <img src="catalog/view/theme/pav_digitalstore/image/stars-3.png" alt="1 reviews" />
                                                            </div>-->

                                                            <div class="cart pull-left">
                                                                <input type="button" value="Add to Cart" onclick="addToCart('{{ product.id }}');" class="button" />
                                                            </div>
                                                            <div class="wishlist-compare">
                                                                <span class="wishlist">
                                                                    <a class="fa fa-heart" onclick="addToWishList('{{ product.id }}');" data-placement="top" data-toggle="tooltip" data-original-title="Add to Wish List">
                                                                        <span>Add to Wish List</span>
                                                                    </a>
                                                                </span>
                                                                <span class="compare">
                                                                    <a class="fa fa-retweet" onclick="addToCompare('{{ product.id }}');" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare">
                                                                        <span>Add to Compare</span>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}