{% extends 'CoreBundle:Twig:Datatable/Default/datatable_row.html.twig' %}

{% block route_show %}
    {% set parameters = [] %}

    {% for name, attrib in routes.show.parameters %}
        {% set parameters = parameters|merge({( name ): element[attrib]}) %}
    {% endfor %}

    <a href="{{ path(routes.show.path, parameters) }}" {% if routes.show.label is defined %}title="{{ routes.show.label }}"{% endif %}>
        <i class="icon-eye-open"></i>
    </a>
    {% endblock %}

{% block route_edit %}
    {% set parameters = [] %}

    {% for name, attrib in routes.edit.parameters %}
        {% set parameters = parameters|merge({( name ): element[attrib]}) %}
    {% endfor %}

    <a href="{{ path(routes.edit.path, parameters) }}" {% if routes.edit.label is defined %}title="{{ routes.edit.label }}"{% endif %}>
        <i class="icon-pencil"></i>
    </a>
{% endblock %}

{% block route_delete %}
    {% set parameters = [] %}

    {% for name, attrib in routes.delete.parameters %}
        {% set parameters = parameters|merge({( name ): element[attrib]}) %}
    {% endfor %}

    <form method="post" action="{{ path(routes.delete.path, parameters) }}" style="margin:0;display:inline" >
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit" class="btn btn-link" style="color:inherit;text-decoration:inherit;padding:0;margin:0;" {% if routes.delete.label is defined %}title="{{ routes.delete.label }}"{% endif %}>
            <i class="icon-remove-sign"></i>
        </button>
    </form>
{% endblock %}
